.register-title {
    padding: 0px 0px 45px 0px;
    font-size: 28px;
    font-weight: 700;
}

.form-group label {
    font-weight: 300;
    font-size: 16px;
    width: 100%;
}

.error-form {
    border: 2px solid #BE3430 !important;
    border-radius: 0px;
}

.login-error{
    color: #BE3430; 
    font-weight: bold; 
    margin-bottom: 20px; 
    margin-top: -10px
}