<main id="content" class="bypass-block-target">

  <div class="error" id="login-error-wrapper" style="size:2em; font-weight:bold; color:darkred; text-align: center">
    <div class="error" id="login-error" style="color:darkred; text-align: center"></div>
  </div>

  <div class="text-center">
    <!--
    <button class="srt-button"
            style="float:none; display:inline; margin-top:3em;"
            id="login"
            aria-label="Login with MAX"
            onClick=" (function() {
                        var client_host = window.location.hostname
                        var server_host = '';
                        if (client_host === 'localhost') { server_host = 'localhost:3000'}
                        if (client_host === 'srt-client.app.cloud.gov' || client_host === 'srt.app.cloud.gov') { server_host = 'srt-server.app.cloud.gov' }
                        if (client_host === 'srt-client-dev.app.cloud.gov') { server_host = 'srt-server-dev.app.cloud.gov' }
                        if (client_host === 'srt-client-staging.app.cloud.gov') { server_host = 'srt-server-staging.app.cloud.gov' }
                        //default to current name for dev servers
                        if (server_host === '') { server_host = 'localhost:3000';}
                        window.location = 'http://' + server_host + '/api/casLogin'
                      }()) ">Login with MAX</button>
    -->
    <div class="d-flex align-items-center justify-content-center" style="border: groove; background-color: #112f4e;">
      <div class="p-2" style="color: white;">
        <h3>Title: Lapse in Federal Funding Impact on DHS Website Operations Notice</h3>
        <p>
          NOTICE: Due to the lapse in federal funding, this website will not be actively managed. This website was last updated on September 30, 2023 and will not be updated until after funding is enacted. As such, information on this website may not be up to date. Transactions submitted via this website might not be processed and we will not be able to respond to inquiries until after appropriations are enacted.
        </p>
        <hr>
        <h3>Título: Aviso del impacto de la interrupción de fondos federales en las operaciones del sitio web del Departamento de Seguridad Nacional (DHS, por sus siglas en inglés)</h3>
        <p>
          AVISO: A causa de la interrupción de fondos federales, este sitio de web no será administrado activamente. La última actualización a este sitio web se realizó el 30 de septiembre de 2023 y no se harán más actualizaciones hasta que el gobierno reanude operaciones; por ende, puede que el sitio web no refleje la información más reciente. Es posible que no podamos procesar transacciones ni responder a preguntas hasta que se reanuden operaciones.        </p>
      </div>
    </div>

  </div>
</main>


<script>

    function test (){
        var client_host = window.location.hostname
        var server_host = '';
        if (client_host === 'localhost') { server_host = 'localhost:3000' }
        if (client_host === 'srt-client.app.cloud.gov' || client_host === 'srt.app.cloud.gov') { server_host = 'srt-server.app.cloud.gov' }
        if (client_host === 'srt-client-dev.app.cloud.gov') { server_host = 'srt-server-dev.app.cloud.gov' }
        if (client_host === 'srt-client-staging.app.cloud.gov') { server_host = 'srt-server-staging.app.cloud.gov' }
        //default to current name for dev servers
        if (server_host === '') { server_host = client_host + ':3000';}
        window.location = 'http://' + server_host + '/api/casLogin'
    }
</script>
