/* Center alignment for the container */
.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 20vh; /* Center the content vertically */
}

/* Styling for the login container text and logo */
.login-container {
  display: flex;
  align-items: center; /* Aligns items vertically */
}

.login-text {
  font-weight: bold;
  font-size: 1.25em;
  margin-right: 0.5em;
}

/* Styling for the Login.gov button container */
.login-image {
  background-color: #e0e0e0; /* Light gray background */
  padding: 0.25em;
  border-radius: 5px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  text-decoration: none; /* Remove underline */
  
  img {
    height: 1.25em; /* Adjust size for the logo */
  }
}

.login-image:hover {
  /* Increasing button size */
  transform: scale(1.05);
}


/* Adds space between the login container and the DEV login button */
.dev-button {
  margin-top: 1em;
}