<div id="header">
    <a class="usa-skipnav" href="#content">Skip to Main Content</a>

    <div class="usa-header usa-header--basic">
        <div class="grid-container-widescreen">
            <nav class="usa-nav" role="navigation" aria-label="main navigation">
                <!-- Left Side: SRT Logo -->
                <div class="logo-container">
                    <a [routerLink]="['/home']" aria-label="SRT Home Page">
                        <img src="../../assets/srtlogo.png" alt="SRT Logo" height="40">
                    </a>
                </div>

                <!-- Center: Main Navigation -->
                <ul class="usa-nav__primary" *ngIf="isLogin">
                    <li class="usa-nav__primary-item">
                        <a [routerLink]="['/home']" class="usa-nav__link" [class.usa-current]="GetHash('home')"
                            (click)="menuClick('/home')">Home</a>
                    </li>
                    <li class="usa-nav__primary-item">
                        <a [routerLink]="['/solicitation/report']" class="usa-nav__link"
                            [class.usa-current]="GetHash('solicitation')"
                            (click)="menuClick('/solicitation/report')">Solicitations</a>
                    </li>
                    <li class="usa-nav__primary-item" *ngIf="isGSAAdmin">
                        <a [routerLink]="['/analytics']" class="usa-nav__link" [class.usa-current]="GetHash('analytics')"
                            (click)="menuClick('/analytics')" id="nav-analytics">Analytics</a>
                    </li>
                    <li class="usa-nav__primary-item" *ngIf="isGSAAdmin">
                        <a [routerLink]="['/admin']" class="usa-nav__link" [class.usa-current]="GetHash('admin')"
                            (click)="menuClick('/admin')" [attr.tabindex]="isGSAAdmin ? 0 : -1">Administration</a>
                    </li>
                    <li class="usa-nav__primary-item">
                        <a href="https://app.buyaccessible.gov/" class="usa-nav__link" target="_blank"
                            rel="noopener noreferrer">Additional Resources</a>
                    </li>
                    <li class="usa-nav__primary-item">
                        <a [routerLink]="['/help/contactus']" class="usa-nav__link"
                            [class.usa-current]="GetHash('contactus')"
                            (click)="menuClick('/help/contactus')">Contact Us</a>
                    </li>
                    <li class="usa-nav__primary-item">
                        <a [routerLink]="['/help/faq']" class="usa-nav__link" [class.usa-current]="GetHash('faq')"
                            (click)="menuClick('/help/faq')">FAQs</a>
                    </li>
                </ul>

                <!-- Right Side: User Menu and GSA Logo -->
                <ul class="right-nav-group">
                    <li class="nav-item" *ngIf="isLogin">
                        <div class="user-menu">
                            <button class="usa-button usa-button--outline" type="button">
                                Hello, {{firstName}}
                                <svg class="usa-icon margin-left-05" aria-hidden="true" role="img">
                                    <use xlink:href="/assets/img/sprite.svg#expand_more"></use>
                                </svg>
                            </button>
                            <ul class="usa-nav__submenu" role="menu">
                                <li role="none">
                                    <a href="javascript:void(0)" (click)="onLogout()" (blur)="popUpMenuLostFocus()"
                                        id="menu-logout" role="menuitem">Log Out</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item gsa-logo-item">
                        <img src="../../assets/gsa-logo.png" alt="GSA Logo" aria-label="GSA Logo" height="40">
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="border-bottom border-base-lighter"></div>
</div>