
<div class="active-tabs" ng-if="showActivitySelection()">
  <div class="usa-tabs">
    <ul class="usa-tabs__list usa-tabs__list--horizontal">
      <li class="usa-tabs__item" [ngClass]="{'usa-tabs__item--current': active['masquerade']}">
        <a href="javascript:void(0);" class="usa-tabs__link"
           (click)="this.menuClick.emit('masquerade'); this.setActiveTab('masquerade')">
          MASQUERADE
        </a>
      </li>
      <li class="usa-tabs__item" [ngClass]="{'usa-tabs__item--current': active['reports']}">
        <a href="javascript:void(0);" class="usa-tabs__link"
           (click)="this.menuClick.emit('reports'); this.setActiveTab('reports')">
          REPORTS
        </a>
      </li>
      <li class="usa-tabs__item" [ngClass]="{'usa-tabs__item--current': active['metric-downloads']}">
        <a href="javascript:void(0);" class="usa-tabs__link"
           (click)="this.menuClick.emit('metric-downloads'); this.setActiveTab('metric-downloads')">
          METRIC DOWNLOADS
        </a>
      </li>
    </ul>
  </div>
</div>