<div class="active-tabs" ng-if="showActivitySelection()">
  <div class="custom-tabs">
    <ul class="custom-tabs__list">
      <li class="custom-tabs__item" 
          [ngClass]="{'custom-tabs__item--active': active['masquerade']}"
          (click)="menuClick.emit('masquerade'); setActiveTab('masquerade')">
        <a class="custom-tabs__link">MASQUERADE</a>
      </li>
      <li class="custom-tabs__item" 
          [ngClass]="{'custom-tabs__item--active': active['reports']}"
          (click)="menuClick.emit('reports'); setActiveTab('reports')">
        <a class="custom-tabs__link">REPORTS</a>
      </li>
      <li class="custom-tabs__item" 
          [ngClass]="{'custom-tabs__item--active': active['metric-downloads']}"
          (click)="menuClick.emit('metric-downloads'); setActiveTab('metric-downloads')">
        <a class="custom-tabs__link">METRIC DOWNLOADS</a>
      </li>
    </ul>
  </div>
</div>