<main id="content" class="bypass-block-target">
  <section class="usa-section">
    <div class="usa-grid">
      <div class="usa-width-two-thirds">
        
        <!-- Scanned Solicitation by Date Metrics -->
        <div class="usa-section">
          <h1 class="usa-heading" id="anchor-scanned-sol-by-date-metrics">Scanned Solicitation by Date Metrics</h1>
          <p>
            The Solicitation Download Report is a CSV file with the counts of newly added or updated solicitations by date.
          </p>
          <button class="usa-button" id="downloadScannedSolicitationsCSV" (click)="downloadScannedSolicitationsCSV()">
            Download CSV
          </button>
        </div>

        <!-- Prediction Metrics by Date and Agency -->
        <div class="usa-section">
          <h1 class="usa-heading">Prediction Metrics by Date and Agency</h1>
          <p>
            The Solicitation Download Report is a CSV file with the counts of newly added or updated solicitations by date.
          </p>
          <button class="usa-button" id="downloadPredictionMetricsCSV" (click)="downloadPredictionMetricsCSV()">
            Download CSV
          </button>
        </div>

        <!-- Notice Type Change Metrics -->
        <div class="usa-section">
          <h1 class="usa-heading">Notice Type Change Metrics</h1>
          <p>
            The Notice Type Change metrics show how many notices are leaving the SRT system because of a change to the notice type. The numbers are broken out by date and agency.
          </p>
          <button class="usa-button" id="downloadNoticeTypeChangeMetricsCSV" (click)="downloadNoticeTypeChangeMetricsCSV()">
            Download CSV
          </button>
        </div>
      </div>
    </div>
  </section>
</main>