<div style="padding-right: 40px;">
    <div id="analyticTitle" style="font-size: 20px; margin-bottom: 70px; font-weight: 600" class="srt-blue">
        {{barTitle}}&nbsp;&nbsp;
        <sup style="font-size: 20px;"
            [tooltip]="chart" tooltipPlacement="bottom">
            <i *ngIf="isGovernomentWide" class="fa fa-info-circle info" aria-hidden="true" ></i>
        </sup>

        <tooltip-content #chart [animation]="true">
            <div>The agencies ranking is sorted by Compliance Rate*.</div>
            <div>* Compliance Rate = (Number of compliant solicitations / Total ICT solicitations) %</div>
        </tooltip-content>  

    </div>
    <!-- bar chart -->
    <div style="width: 100%; position: relative; font-size: 18px; margin-bottom: 60px; height: 191px; display: table; text-align: center" *ngIf="noData">
        <div style="display: table-cell; vertical-align: middle">
              No data to show on this time period
        </div>
    </div>  

    <div style="width: 100%; position: relative; margin-bottom: 40px; padding-left: 40px; position: relative" *ngIf="!noData">  
        <div style="position: relative; left: 63px; top: -25px; width: calc(100% - 80px);">

            <div style="position: absolute; left: 0px;">0%</div>
            <div style="position: absolute; left: 25%;">25%</div>
            <div style="position: absolute; left: 50%;">50%</div>
            <div style="position: absolute; left: 74%;">75%</div>
            <div style="position: absolute; left: 100%;">100%</div>
            <!--<div *ngFor="let xaxis of xAxisBreakPoint" 
                style="position: absolute;"
                [ngStyle]="{'left' : 'calc(100%/' + (xAxisBreakPoint.length - 1) / xaxis + ')'}">
                {{xaxis * xAxisUnit}}
            </div>-->

        </div>
        <div style="position: absolute; right: 28px; top: -105px;">
            <div style="width: 15px; height: 15px; background-color: #2C81C0; display: inline-block; vertical-align: middle"></div>
            <div style="display: inline-block; vertical-align: middle"># Compliant Solicitation(s)</div>
        </div>
        <div style="position: absolute; right: 0px; top: -80px;">
            <div style="width: 15px; height: 15px; background-color: #eeeeee; display: inline-block; vertical-align: middle"></div>
            <div style="display: inline-block; vertical-align: middle"># Non-Compliant Solicitation(s)</div>
        </div>
        
        <div style="position: absolute; top: -55px; width: 100%; text-align: center; font-weight: 600; font-size: 16px;">
            <div>Compliant Rate (%)</div>
        </div>
        <div style="position: absolute; left: 0px; transform: rotate(-90deg); font-size: 16px; font-weight: 600; text-align: center"
            [ngStyle]="{'width': (indexTo - indexFrom) * 30 + 'px', 'height': (indexTo - indexFrom) * 30 + 'px'}">
            {{xAxis}}
        </div>
        <table style="width: 100%; transform: translateZ(0);">
            <tbody>
                <tr *ngFor="let num of barData | slice:indexFrom:indexTo " style="width: 100%;" title="Total: {{num[3]}} 
Compliant Solicitations: {{num[2]}}
Non-Compliant Solicitations: {{(num[3] - num[2])}}">
                    <td style="border-right:1px solid #4a4a4a; padding-right: 20px; width: 40px; height: 30px; font-weight: 500">{{GetAbbr(num[0])}}&nbsp;&nbsp;&nbsp;</td>
                    <td style="vertical-align: middle">                     
                        <div style="background-color:#2C81C0; height: 10px; float: left" [ngStyle]="{'width': (num[2]/num[3]) * (num[2]/num[3]) * 100 + '%'}"></div>
                        <div style="background-color:#eeeeee; height: 10px; float: left; position: relative" [ngStyle]="{'width': ((num[3] - num[2])/num[3]) * (num[2]/num[3]) * 100 + '%'}">
                            <div style="position: absolute; right: -40px; top: -5px;" [hidden]="num[1]==0">
                                {{num[1] | percent:'.0-0'}}
                            </div>
                        </div>  
                    </td>
                </tr>
            </tbody>
        </table>
        
    </div>

    
</div>