
<div style="padding-left: 40px; position: relative">
    <div style="position: absolute; left: 0px; top: 0px; transform: rotate(-90deg); font-size: 16px; font-weight: 600; text-align: center; height: 180px; width: 180px;">{{yAxis}}</div>
    <div style="position: absolute; bottom: -30px; font-size: 16px; font-weight: 600; text-align: center; width: 100%">{{xAxis}}</div>
    <div style="display: block; margin: 0px auto; height: 200px; transform: translateZ(0);"> 
        <canvas baseChart
                [datasets]="lineChartData"
                [labels]="lineChartLabels"
                [options]="options"
                [colors]="colorsOverride"
                [chartType]="lineChartType"></canvas>
    </div>
</div>