<div style="
            background-image:url(https://s3.amazonaws.com/srt.bucket/assets/login.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            height: calc(100vh - 83px);
            box-shadow: inset 1000px 1000px 1000px rgba(255,255,255,0.8);
            overflow: auto;
            position: relative"
            >
            <!-- <div style="
            background-image:url(../../assets/login-min.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            height: calc(100vh - 83px);
            box-shadow: inset 1000px 1000px 1000px rgba(255,255,255,0.8);
            overflow: auto;
            position: relative"
            >          -->
   
    <div style="position: absolute; bottom: 0px; left: 15px; ">
        <div style="position: relative; color: white; background-color: rgba(0,0,0,0.7); display: table; width: 40%">
            <div style="display: table-cell; vertical-align: middle; padding: 15px 22px"> 
                <div style="font-size: 18px; padding-bottom: 10px; font-weight: 500">Beta Disclaimer</div>
                <div>This is a beta version of the SRT platform. The results shown are preliminary only and should not be used or referenced in any official or internal reports.</div>
            </div>
            <!--<div style="position: absolute; top: 15px; right: 15px;">X</div>-->
        </div>
    </div>
    
      
    <div class="row spacing nopadding">
        <div class="row-eq-height" style="padding: 60px 0px">
            <div class="col-lg-5 col-lg-offset-1 col-md-6 col-sm-12" >
                <div style="padding: 40px;" class="srt-blue">           
                    <h1 style="font-weight: 700;">Solicitation Review Tool </h1>
                    <h3>The Solicitation Review Tool (SRT) is provided to help agencies evaluate the overall solicitation compliance with accessibility, cyber security, and other regulations and requirements.</h3>                
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div style="border: 1px solid #dadada; box-shadow: 1px 1px 10px 0px #dadada; background-color: white">
                    <ul class="register clearfix">
                        <li class="active" (click)="ChangeDisplay('singin')" data-toggle="tab">Sign In</li>
                        <li  (click)="ChangeDisplay('signup')"data-toggle="tab">Sign Up</li>
                    </ul>
                    <div style="padding: 40px;" class="clearfix">
                        <div *ngIf="displayTab=='singin'">
                            <app-userlogin></app-userlogin>
                        </div>
                        <div *ngIf="displayTab=='signup'">
                            <app-userregistration></app-userregistration>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
