ul.register {
    padding: 0px;
    margin: 0px;
    list-style: none;
    width: 100%;
}

ul.register li {
    float: left;
    font-size: 20px;
    width: 50%;
    text-align: center;
    cursor: pointer;
    padding: 10px;
    border-bottom: 1px solid #dadada;
}

ul.register li.active {
    background: #112e51;
    color: #fff;
    font-weight: 700;
    transform: scaleY(1.1);
    border: none;
}


/*Kailun's adding*/

#gsaDropdown ul.dropdown-menu{
    padding: 5px 0px;
    background-color: #112e51 !important;
}

#gsaDropdown ul.dropdown-menu > li > a{
    color: white;
    /* font-weight.*300 */;
}


#gsaDropdown ul.dropdown-menu > li > a:hover{
    background-color: transparent!important;
}
.dropdown-item {
background-color: #112e51;
color: white;
border: none;
padding: 15px 0px;
text-align: left;
text-decoration: none;
display: inline-block;
font-size: 16px;
    width: calc(100%);
margin-left: 0px;
padding-left: 15px;
}
#srtlogo {
max-height: 40px;
margin-top: 8px;
margin-left: 10px;
}
#navbar ul.nav.navbar-nav,
#navbar ul.nav.navbar-nav > li{
height: 60px;
cursor: pointer;
}

#navbar ul.nav.navbar-nav > li.active{
height: 60px;
cursor: pointer;
border-bottom: 2px solid #102c52;
}

#navbar ul.nav.navbar-nav > li > a{
margin: 20px 15px;
padding: 0px;
font-weight: 500;
color: #102c52;
font-size: 16px;
}

#navbar ul.nav.navbar-nav > li.active > a{
color: #102c52!important;
font-weight: 700 !important;
/* border-bottom: 1px solid #102c52; */
padding-bottom: 5px!important;
font-weight: 700;
background-color: transparent !important;
}

#navbar ul.nav.navbar-nav > li:focus {
outline: none;
}


hr {
margin: 0px;
}

.us-navbar {
background-color: white;
}

#header {
top: 0px;
margin:0px;

/* border-width: 2px;
border-bottom-width:2px;
border-bottom-color: #112e51;
border-bottom-style: solid;
width: 100%;*/
padding: 0px;
position: sticky;
z-index: 50
}
#navbar a {
padding-top: 20px;
}
#navbar a:link
{
text-decoration: none;
color: #4c2c92;
font-family: Arial, sans-serif;
font-size: medium;
font-weight: bold;
letter-spacing: 1px;
}
/*#navbar a:active
{
text-decoration: none;
color: #112e51;
font-family: Arial, sans-serif;
font-size: medium;
font-weight: bold;
letter-spacing: 1px;
}*/

img {
max-width: 100%;
max-height: 60px;
float: right;
}

hr {
display: block;
height: 3px;
border: 0;
border-top: 1px solid #112e51;
margin: 5px 0;
padding: 0;
}

.dropdown-menu {
left: auto;
right: -1px;
}


.card-shadow{
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
}

.login-header-bg {
    background-image: url("/assets/login.jpg");
    background-size: cover;
    background-color: rgba(255,255,255,0.8);
    background-blend-mode: lighten;
}

/* Cards Section */
.usa-card {
    height: 100%;
    display: flex;
    flex-direction: column;
}
  
.usa-card__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-decoration: none;
    color: inherit;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    border-radius: 0.25rem; /* 4px */
}
  
.usa-card__container--clickable {
    cursor: pointer; /* Show the clicky hand cursor on hover */
}
  
.usa-card__container--clickable:hover,
.usa-card__container--clickable:focus {
    box-shadow: 0 0 0 0.1875rem #2491ff; /* 3px */
    transform: translateY(-0.125rem); /* -2px */
    text-decoration: none;
    cursor: pointer;
    outline: none;
}
  
.usa-card__media {
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    height: 7.5rem; /* 120px */
}
  
.usa-card__media img {
    width: 5rem; /* 80px */
    height: 5rem; /* 80px */
    object-fit: contain;
}
  
.usa-card__media img[alt="FAQ Icon"] {
    width: 10rem; /* 160px */
    height: 10rem; /* 160px */
    object-fit: contain; /* Ensures the image scales without distortion */
}
  
.usa-card__header,
.usa-card__body {
    flex: 1 1 auto;
    padding: 0 1rem;
    text-align: center;
}
  
.usa-card__heading {
    margin-top: 0;
    margin-bottom: 0.5rem;
}
  
.usa-card__body p {
    text-align: center;
    margin-top: 0;
    margin-bottom: 1rem;
}
  
.tablet\:grid-col-4,
.mobile-lg\:grid-col-6 {
    margin-bottom: 1rem;
}