<div class="top-srt-padding">

    <div id="overview" class="top-srt-overview">

        <h2 class="chart srt-blue top-srt-title">
            Key SRT Activities
        </h2>

        <!-- Total ICT Solicitations -->
        <div class="visually-hidden">The total number of ICT solicitations scanned from sam.gov for
            {{selectedAgency}} is {{solicitationNumber}} which is 100 percent of the total solicitations scanned.</div>
        <div class="clearfix analytic-overview-name" aria-hidden="true">
            <div class="top-srt-floatleft">Total ICT Solicitations Scanned&nbsp;&nbsp;
                <span class="tooltip-container">
                    <sup class="supfont tooltip-trigger" tabindex="0" role="button"
                        aria-label="Total number of ICT solicitations scanned from sam.gov for all federal agencies."
                        (focus)="showTotalIctTooltip = true" (blur)="showTotalIctTooltip = false"
                        (keydown.enter)="showTotalIctTooltip = !showTotalIctTooltip"
                        (keydown.space)="showTotalIctTooltip = !showTotalIctTooltip; $event.preventDefault()">
                        <i class="fa fa-info-circle info" aria-hidden="true"></i>
                    </sup>
                    <span class="tooltip-text" [class.show]="showTotalIctTooltip">
                        Total number of ICT solicitations scanned from sam.gov for all federal agencies.
                    </span>
                </span>
            </div>
            <div class="top-srt-floatright">{{solicitationNumber}}</div>
        </div>
        <div class="top-srt-white">
            <div class="top-srt-blue"
                [ngStyle]="{'width': solicitationNumber==0 ? '0px' : solicitationNumber/solicitationNumber * 100 + '%'}">
            </div>
        </div>

        <!-- Total Non-compliant ICT Solicitations -->
        <div class="visually-hidden">The total number of non-compliant ICT solicitations scanned from sam.gov
            for {{selectedAgency}}
            is {{nonCompliantICTNumber}} which is
            {{(nonCompliantICTNumber/solicitationNumber * 100) | number:'1.0-1'}} percent of the total
            solicitations scanned.
        </div>
        <div class="clearfix analytic-overview-name" aria-hidden="true">
            <div class="top-srt-floatleft">Total Non-Compliant ICT Solicitations&nbsp;&nbsp;
                <span class="tooltip-container">
                    <sup class="supfont tooltip-trigger" tabindex="0" role="button"
                        aria-label="Total number of non-compliant ICT solicitations scanned from sam.gov for all federal agencies."
                        (focus)="showNonCompliantIctTooltip = true" (blur)="showNonCompliantIctTooltip = false"
                        (keydown.enter)="showNonCompliantIctTooltip = !showNonCompliantIctTooltip"
                        (keydown.space)="showNonCompliantIctTooltip = !showNonCompliantIctTooltip; $event.preventDefault()">
                        <i class="fa fa-info-circle info" aria-hidden="true"></i>
                    </sup>
                    <span class="tooltip-text" [class.show]="showNonCompliantIctTooltip">
                        Total number of non-compliant ICT solicitations scanned from sam.gov for {{selectedAgency}}.
                    </span>
                </span>
            </div>
            <div class="top-srt-floatright">{{solicitationNumber}}</div>
        </div>
        <div class="top-srt-white">
            <div class="top-srt-blue"
                [ngStyle]="{'width': solicitationNumber==0 ? '0px' : nonCompliantICTNumber/solicitationNumber * 100 + '%'}">
            </div>
        </div>

        <!-- # Solicitations Reviewed by 508 Coordinators -->
        <div class="visually-hidden">The number of FebBizOpps solicitation links accessed through SRT by Section 508
            coordinators is {{reviewed}} which is
            {{(reviewed/solicitationNumber * 100) | number:'1.0-1'}} percent of the total
            solicitations scanned.
        </div>
        <div class="clearfix analytic-overview-name" aria-hidden="true">
            <div class="top-srt-floatleft"># Solicitations Reviewed by 508 Coordinators&nbsp;&nbsp;
                <span class="tooltip-container">
                    <sup class="supfont tooltip-trigger" tabindex="0" role="button"
                        aria-label="Number of FebBizOpps solicitation links accessed through SRT by Section 508 coordinators. The solicitation links are visited for further review of SRT results prior to contacting the Point of Contact (PoC)."
                        (focus)="showReviewedTooltip = true" (blur)="showReviewedTooltip = false"
                        (keydown.enter)="showReviewedTooltip = !showReviewedTooltip"
                        (keydown.space)="showReviewedTooltip = !showReviewedTooltip; $event.preventDefault()">
                        <i class="fa fa-info-circle info" aria-hidden="true"></i>
                    </sup>
                    <span class="tooltip-text" [class.show]="showReviewedTooltip">
                        Number of FebBizOpps solicitation links accessed through SRT by Section 508 coordinators. The
                        solicitation links are visited for further review of SRT results prior to contacting the Point
                        of Contact (PoC).
                    </span>
                </span>
            </div>
            <div class="top-srt-floatright">{{solicitationNumber}}</div>
        </div>
        <div class="top-srt-white">
            <div class="top-srt-blue"
                [ngStyle]="{'width': solicitationNumber==0 ? '0px' : reviewed/solicitationNumber * 100 + '%'}"></div>
        </div>

        <!-- # Emails Sent to POC -->
        <div class="visually-hidden">The Number of e-mails sent from Section 508 Coordinators to solicitations
            Point of Contact is {{emailSend}} which is
            {{(emailSend/solicitationNumber * 100) | number:'1.0-1'}} percent of the total
            solicitations scanned.
        </div>
        <div class="clearfix analytic-overview-name" aria-hidden="true">
            <div class="top-srt-floatleft"># Emails Sent to POC&nbsp;&nbsp;
                <span class="tooltip-container">
                    <sup class="supfont tooltip-trigger" tabindex="0" role="button"
                        aria-label="Number of e-mails sent from Section 508 Coordinators to solicitations Point of Contact (POC)."
                        (focus)="showEmailsSentTooltip = true" (blur)="showEmailsSentTooltip = false"
                        (keydown.enter)="showEmailsSentTooltip = !showEmailsSentTooltip"
                        (keydown.space)="showEmailsSentTooltip = !showEmailsSentTooltip; $event.preventDefault()">
                        <i class="fa fa-info-circle info" aria-hidden="true"></i>
                    </sup>
                    <span class="tooltip-text" [class.show]="showEmailsSentTooltip">
                        Number of e-mails sent from Section 508 Coordinators to solicitations Point of Contact (POC).
                    </span>
                </span>
            </div>
            <div class="top-srt-floatright">{{solicitationNumber}}</div>
        </div>
        <div class="top-srt-white">
            <div class="top-srt-blue"
                [ngStyle]="{'width': solicitationNumber==0 ? '0px' : emailSend/solicitationNumber * 100 + '%'}"></div>
        </div>

        <!-- # Updated Solicitations -->
        <div class="visually-hidden">The number of ICT solicitations that have been re-scanned from sam.gov
            for {{selectedAgency}}
            is {{updatedICTNumber}} which is
            {{(updatedICTNumber/solicitationNumber * 100) | number:'1.0-1'}} percent of the total
            solicitations scanned.
        </div>
        <div class="clearfix analytic-overview-name" aria-hidden="true">
            <div class="top-srt-floatleft"># Updated Solicitations&nbsp;&nbsp;
                <span class="tooltip-container">
                    <sup class="supfont tooltip-trigger" tabindex="0" role="button"
                        aria-label="Number of ICT solicitations that have been re-scanned from sam.gov."
                        (focus)="showUpdatedSolicitationsTooltip = true"
                        (blur)="showUpdatedSolicitationsTooltip = false"
                        (keydown.enter)="showUpdatedSolicitationsTooltip = !showUpdatedSolicitationsTooltip"
                        (keydown.space)="showUpdatedSolicitationsTooltip = !showUpdatedSolicitationsTooltip; $event.preventDefault()">
                        <i class="fa fa-info-circle info" aria-hidden="true"></i>
                    </sup>
                    <span class="tooltip-text" [class.show]="showUpdatedSolicitationsTooltip">
                        Number of ICT solicitations that have been re-scanned from sam.gov.
                    </span>
                </span>
            </div>
            <div class="top-srt-floatright">{{solicitationNumber}}</div>
        </div>
        <div class="top-srt-white">
            <div class="top-srt-blue"
                [ngStyle]="{'width': solicitationNumber==0 ? '0px' : updatedICTNumber/solicitationNumber * 100 + '%'}">
            </div>
        </div>

        <!-- # Updated Non-compliant Solicitations -->
        <div class="visually-hidden">The number of ICT solicitations that have been re-scanned from sam.gov for
            {{selectedAgency}} and
            remained non-compliant on SRT is {{updatedNonCompliantICTNumber}} which is
            {{(updatedNonCompliantICTNumber/solicitationNumber * 100) | number:'1.0-1'}} percent of the total
            solicitations scanned.
        </div>
        <div class="clearfix analytic-overview-name" aria-hidden="true">
            <div class="top-srt-floatleft">Updated Non-compliant Solicitations&nbsp;&nbsp;
                <span class="tooltip-container">
                    <sup class="supfont tooltip-trigger" tabindex="0" role="button"
                        aria-label="Number of ICT solicitations that have been re-scanned from sam.gov and remained non-compliant on SRT."
                        (focus)="showUpdatedNonCompliantTooltip = true" (blur)="showUpdatedNonCompliantTooltip = false"
                        (keydown.enter)="showUpdatedNonCompliantTooltip = !showUpdatedNonCompliantTooltip"
                        (keydown.space)="showUpdatedNonCompliantTooltip = !showUpdatedNonCompliantTooltip; $event.preventDefault()">
                        <i class="fa fa-info-circle info" aria-hidden="true"></i>
                    </sup>
                    <span class="tooltip-text" [class.show]="showUpdatedNonCompliantTooltip">
                        Number of ICT solicitations that have been re-scanned from sam.gov and remained non-compliant on
                        SRT.
                    </span>
                </span>
            </div>
            <div class="top-srt-floatright">{{solicitationNumber}}</div>
        </div>
        <div class="top-srt-white">
            <div class="top-srt-blue"
                [ngStyle]="{'width': solicitationNumber==0 ? '0px' : updatedNonCompliantICTNumber/solicitationNumber * 100 + '%'}">
            </div>
        </div>

        <!-- # Updated Compliant Solicitations -->
        <div class="visually-hidden">The number of ICT solicitations that have been re-scanned from sam.gov
            for {{selectedAgency}} and updated
            as compliant on SRT is {{updatedCompliantICTNumber}} which is
            {{(updatedCompliantICTNumber/solicitationNumber * 100) | number:'1.0-1'}} percent of the total
            solicitations scanned.
        </div>
        <div class="clearfix analytic-overview-name" aria-hidden="true">
            <div class="top-srt-floatleft"># Updated Compliant Solicitations&nbsp;&nbsp;
                <span class="tooltip-container">
                    <sup class="supfont tooltip-trigger" tabindex="0" role="button"
                        aria-label="Number of ICT solicitations that have been re-scanned from sam.gov and updated as compliant on SRT."
                        (focus)="showUpdatedCompliantTooltip = true" (blur)="showUpdatedCompliantTooltip = false"
                        (keydown.enter)="showUpdatedCompliantTooltip = !showUpdatedCompliantTooltip"
                        (keydown.space)="showUpdatedCompliantTooltip = !showUpdatedCompliantTooltip; $event.preventDefault()">
                        <i class="fa fa-info-circle info" aria-hidden="true"></i>
                    </sup>
                    <span class="tooltip-text" [class.show]="showUpdatedCompliantTooltip">
                        Number of ICT solicitations that have been re-scanned from sam.gov and updated as compliant on
                        SRT.
                    </span>
                </span>
            </div>
            <div class="top-srt-floatright">{{solicitationNumber}}</div>
        </div>
        <div class="clearfix top-srt-white">
            <div class="top-srt-blue"
                [ngStyle]="{'width': solicitationNumber==0 ? '0px' : updatedCompliantICTNumber/solicitationNumber * 100 + '%'}">
            </div>
        </div>
    </div>


</div>