<div class="top-srt-padding">

      <div id="overview" class="top-srt-overview">

          <h3 class="chart srt-blue top-srt-title">
              Key SRT Activities
          </h3>

          <!-- Total ICT Solicitations -->
          <div class="visually-hidden">The total number of ICT solicitations scanned from FedBizOpps for
            {{selectedAgency}} is {{solicitationNumber}} which is 100 percent of the total solicitations scanned.</div>
          <div class="clearfix analytic-overview-name" aria-hidden="true" >
              <div class="top-srt-floatleft">Total ICT Solicitations Scanned&nbsp;&nbsp;
                  <sup class="supfont"
                      [tooltip]="TotalICT" tooltipPlacement="bottom">
                      <i class="fa fa-info-circle info" aria-hidden="true" ></i>
                  </sup>
                  <tooltip-content #TotalICT [animation]="true">
                      <div role="tooltip" id="total-num-ict"> Total number of ICT solicitations scanned from FedBizOpps for all federal agencies.</div>
                  </tooltip-content>
              </div>
              <div class="top-srt-floatright">{{solicitationNumber}}</div>
          </div>
          <div class="top-srt-white">
              <div class="top-srt-blue" [ngStyle]="{'width': solicitationNumber==0 ? '0px' : solicitationNumber/solicitationNumber * 100 + '%'}"></div>
          </div>

          <!-- Total Non-compliant ICT Solicitations -->
          <div class="visually-hidden">The total number of non-compliant ICT solicitations scanned from FedBizOpps
            for {{selectedAgency}}
            is {{nonCompliantICTNumber}} which is
            {{(nonCompliantICTNumber/solicitationNumber * 100) | number:'1.0-1'}} percent of the total
            solicitations scanned.
          </div>
          <div class="clearfix analytic-overview-name" aria-hidden="true" >
              <div class="top-srt-floatleft">Total Non-Compliant ICT Solicitations&nbsp;&nbsp;
                  <sup class="supfont"
                      [tooltip]="TotalNonCompliantICT" tooltipPlacement="bottom">
                      <i class="fa fa-info-circle info" aria-hidden="true" ></i>
                  </sup>
                  <tooltip-content #TotalNonCompliantICT [animation]="true">
                      <div>Total number of non-compliant ICT solicitations scanned from FedBizOpps for {{selectedAgency}}.</div>
                  </tooltip-content>
              </div>
              <div class="top-srt-floatright">{{nonCompliantICTNumber}}</div>
          </div>
          <div class="top-srt-white">
              <div class="top-srt-blue" [ngStyle]="{'width': solicitationNumber==0 ? '0px' : nonCompliantICTNumber/solicitationNumber * 100 + '%'}"></div>
          </div>

          <!-- # Solicitations Reviewed by 508 Coordinators -->
        <div class="visually-hidden">The number of FebBizOpps solicitation links accessed through SRT by Section 508
          coordinators is {{reviewed}} which is
          {{(reviewed/solicitationNumber * 100) | number:'1.0-1'}} percent of the total
          solicitations scanned.
        </div>
          <div class="clearfix analytic-overview-name" aria-hidden="true" >
              <div class="top-srt-floatleft"># Solicitations Reviewed by 508 Coordinators&nbsp;&nbsp;
                  <sup class="supfont"
                      [tooltip]="Reviewed" tooltipPlacement="bottom">
                      <i class="fa fa-info-circle info" aria-hidden="true"></i>
                  </sup>
                  <tooltip-content #Reviewed [animation]="true">
                      <div>Number of FebBizOpps solicitation links accessed through SRT by Section 508 coordinators. The solicitation links are visited for further review of SRT results prior to contacting the Point of Contact (PoC).</div>
                  </tooltip-content>
              </div>
              <div class="top-srt-floatright">{{reviewed}}</div>
          </div>
          <div class="top-srt-white">
              <div class="top-srt-blue" [ngStyle]="{'width': solicitationNumber==0 ? '0px' : reviewed/solicitationNumber * 100 + '%'}"></div>
          </div>

          <!-- # Emails Sent to POC -->
        <div class="visually-hidden">The Number of e-mails sent from Section 508 Coordinators to solicitations
          Point of Contact is {{emailSend}} which is
          {{(emailSend/solicitationNumber * 100) | number:'1.0-1'}} percent of the total
          solicitations scanned.
        </div>
          <div class="clearfix analytic-overview-name" aria-hidden="true" >
              <div class="top-srt-floatleft"># Emails Sent to POC&nbsp;&nbsp;
                  <sup class="supfont"
                      [tooltip]="Emails" tooltipPlacement="bottom">
                      <i class="fa fa-info-circle info" aria-hidden="true"></i>
                  </sup>
                  <tooltip-content #Emails [animation]="true">
                      <div>Number of e-mails sent from Section 508 Coordinators to solicitations Point of Contact (POC).</div>
                  </tooltip-content>
              </div>
              <div class="top-srt-floatright">{{emailSend}}</div>
          </div>
          <div class="top-srt-white">
              <div class="top-srt-blue" [ngStyle]="{'width': solicitationNumber==0 ? '0px' : emailSend/solicitationNumber * 100 + '%'}"></div>
          </div>

          <!-- # Updated Solicitations -->
        <div class="visually-hidden">The number of ICT solicitations that have been re-scanned from FedBizOpps
          for {{selectedAgency}}
          is {{updatedICTNumber}} which is
          {{(updatedICTNumber/solicitationNumber * 100) | number:'1.0-1'}} percent of the total
          solicitations scanned.
        </div>
          <div class="clearfix analytic-overview-name" aria-hidden="true" >
              <div class="top-srt-floatleft"># Updated Solicitations&nbsp;&nbsp;
                  <sup class="supfont"
                      [tooltip]="Updated0" tooltipPlacement="bottom">
                      <i class="fa fa-info-circle info" aria-hidden="true"></i>
                  </sup>
                  <tooltip-content #Updated0 [animation]="true">
                      <div>Number of ICT solicitations that have been re-scanned from FedBizOpps.</div>
                  </tooltip-content>
              </div>
              <div class="top-srt-floatright">{{updatedICTNumber}}</div>
          </div>
          <div class="top-srt-white">
              <div class="top-srt-blue" [ngStyle]="{'width': solicitationNumber==0 ? '0px' : updatedICTNumber/solicitationNumber * 100 + '%'}"></div>
          </div>

          <!-- # Updated Non-compliant Solicitations -->
        <div class="visually-hidden">The number of ICT solicitations that have been re-scanned from FedBizOpps for {{selectedAgency}} and
          remained non-compliant on SRT is {{updatedNonCompliantICTNumber}} which is
          {{(updatedNonCompliantICTNumber/solicitationNumber * 100) | number:'1.0-1'}} percent of the total
          solicitations scanned.
        </div>
          <div class="clearfix analytic-overview-name" aria-hidden="true" >
              <div class="top-srt-floatleft"># Updated Non-compliant Solicitations&nbsp;&nbsp;
                  <sup class="supfont"
                      [tooltip]="Updated1" tooltipPlacement="bottom">
                      <i class="fa fa-info-circle info" aria-hidden="true"></i>
                  </sup>
                  <tooltip-content #Updated1 [animation]="true">
                      <div>Number of ICT solicitations that have been re-scanned from FedBizOpps and remained non-compliant on SRT.</div>
                  </tooltip-content>
              </div>
              <div class="top-srt-floatright">{{updatedNonCompliantICTNumber}}</div>
          </div>
          <div class="top-srt-white">
              <div class="top-srt-blue"  [ngStyle]="{'width': solicitationNumber==0 ? '0px' : updatedNonCompliantICTNumber/solicitationNumber * 100 + '%'}"></div>
          </div>

          <!-- # Updated Compliant Solicitations -->
        <div class="visually-hidden">The number of ICT solicitations that have been re-scanned from FedBizOpps
          for {{selectedAgency}} and updated
          as compliant on SRT is {{updatedCompliantICTNumber}} which is
          {{(updatedCompliantICTNumber/solicitationNumber * 100) | number:'1.0-1'}} percent of the total
          solicitations scanned.
        </div>
          <div class="clearfix analytic-overview-name" aria-hidden="true" >
              <div class="top-srt-floatleft"># Updated Compliant Solicitations&nbsp;&nbsp;
                  <sup class="supfont"
                      [tooltip]="Updated2" tooltipPlacement="bottom">
                      <i class="fa fa-info-circle info" aria-hidden="true"></i>
                  </sup>
                  <tooltip-content #Updated2 [animation]="true">
                      <div>Number of ICT solicitations that have been re-scanned from FedBizOpps and updated as compliant on SRT.</div>
                  </tooltip-content>
              </div>
              <div class="top-srt-floatright">{{updatedCompliantICTNumber}}</div>
          </div>
          <div class="clearfix top-srt-white" >
              <div class="top-srt-blue"  [ngStyle]="{'width': solicitationNumber==0 ? '0px' : updatedCompliantICTNumber/solicitationNumber * 100 + '%'}"></div>
          </div>
      </div>


  </div>
