#solsearch{
    width: 100%;
    float: right;
    border-radius: 50px;
}

#soltitle {
    text-decoration: none;
    color: #205493;
    /*font-family: Arial, sans-serif;*/
    font-size: x-large;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 0px  20px;
    width: 800px;
}

#csv {
  padding-left: 20px;
}
#csvlogo {
  max-height: 40px;
  padding-left: 10px;
}

.button {
  background-color: white;
}

/* Override padding for bootstrap. */
.nopadding {
    margin: 0px !important;
    padding: 0px !important;
}

th {
  font-size: 18px;
  font-weight: bold !important;
  vertical-align: top;
}

body {
    font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif !important;
}

.ui-dropdown-label.ui-inputtext.ui-corner-all {
  font-size: 16px;
}

.ui-state-default.ui-unselectable-text.ui-sortable-column {
  font-size: 16px;
}


.ui-calendar, .ui-calendar input {
    width: 100% !important;
}

.result-red span,
.result-red i
{
  font-size: 16px;
  color: #cc0000;
  weight: bold;
}

.result-green span,
.result-green i
{
  font-size: 16px;
  weight: bold;
  color: green;
}


/*Animation */
ul.cb-slideshow {
    padding-left: 0px;
    font-size: 80px;
    text-align: center;
}

ul.cb-slideshow li {
    list-style: none;
    display: inline;
}
/*solicitation report */
.solic-nosolic{
    height: calc(100vh - 60px);
    display: table;
    width: 100%;
}
.solic-nosolic-posi{
    display:table-cell;
    vertical-align:middle
}
.solic-table{
    display: table;
    width: 100%;
    max-width: 600px;
    float: right
}
.solic-keyword{
    display: table-cell;
    vertical-align: middle;
    width: 105px;
    font-size: 16px;
}
.solic-table-cell{
    display: table-cell;
    vertical-align: middle;
    width: 300px;
}
.solic-export{
    display: table-cell;
    vertical-align: middle;
    width: 65px;
}
.solic-export-cursor{
    display: table-cell;
    vertical-align: middle;
    width: 40px;
    cursor: pointer
}
.solic-littlescan{
    font-weight: 500;
    float: left;
    color: #186ba0
}
.cb-slideshow li span {
    opacity: 0.3;
    display: inline;
    -webkit-backface-visibility: hidden;
    -webkit-animation: imageAnimation 3s linear infinite 0s;
    -moz-animation: imageAnimation 3s linear infinite 0s;
    -o-animation: imageAnimation 3s linear infinite 0s;
    -ms-animation: imageAnimation 3s linear infinite 0s;
    animation: imageAnimation 3s linear infinite 0s;
}

.cb-slideshow li:nth-child(1) span {
    -webkit-animation-delay: 0s;
    -moz-animation-delay: 0s;
    -o-animation-delay: 0s;
    -ms-animation-delay: 0s;
    animation-delay: 0s;
}

.cb-slideshow li:nth-child(2) span {
    -webkit-animation-delay: 0.25s;
    -moz-animation-delay: 0.25s;
    -o-animation-delay: 0.25s;
    -ms-animation-delay: 0.25s;
    animation-delay: 0.25s;
}

.cb-slideshow li:nth-child(3) span {
    -webkit-animation-delay: 0.5s;
    -moz-animation-delay: 0.5s;
    -o-animation-delay: 0.5s;
    -ms-animation-delay: 0.5s;
    animation-delay: 0.5s;
}

.cb-slideshow li:nth-child(4) span {
    -webkit-animation-delay: 0.75s;
    -moz-animation-delay: 0.75s;
    -o-animation-delay: 0.75s;
    -ms-animation-delay: 0.75s;
    animation-delay: 0.75s;
}

.cb-slideshow li:nth-child(5) span {
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -o-animation-delay: 1s;
    -ms-animation-delay: 1s;
    animation-delay: 1s;
}

.cb-slideshow li:nth-child(6) span {
    -webkit-animation-delay: 1.25s;
    -moz-animation-delay: 1.25s;
    -o-animation-delay: 1.25s;
    -ms-animation-delay: 1.25s;
    animation-delay: 1.25s;
}

.cb-slideshow li:nth-child(7) span {
    -webkit-animation-delay: 1.5s;
    -moz-animation-delay: 1.5s;
    -o-animation-delay: 1.5s;
    -ms-animation-delay: 1.5s;
    animation-delay: 1.5s;
}

.cb-slideshow li:nth-child(8) span {
    -webkit-animation-delay: 1.75s;
    -moz-animation-delay: 1.75s;
    -o-animation-delay: 1.75s;
    -ms-animation-delay: 1.75s;
    animation-delay: 1.75s;
}

.cb-slideshow li:nth-child(9) span {
    -webkit-animation-delay: 2s;
    -moz-animation-delay: 2s;
    -o-animation-delay: 2s;
    -ms-animation-delay: 2s;
    animation-delay: 2s;
}

.cb-slideshow li:nth-child(10) span {
    -webkit-animation-delay: 2.25s;
    -moz-animation-delay: 2.25s;
    -o-animation-delay: 2.25s;
    -ms-animation-delay: 2.25s;
    animation-delay: 2.25s;
}

.cb-slideshow li:nth-child(11) span {
    -webkit-animation-delay: 2.5s;
    -moz-animation-delay: 2.5s;
    -o-animation-delay: 2.5s;
    -ms-animation-delay: 2.5s;
    animation-delay: 2.5s;
}

.cb-slideshow li:nth-child(12) span {
    -webkit-animation-delay: 2.75s;
    -moz-animation-delay: 2.75s;
    -o-animation-delay: 2.75s;
    -ms-animation-delay: 2.75s;
    animation-delay: 2.75s;
}

.cb-slideshow li:nth-child(13) span {
    -webkit-animation-delay: 3s;
    -moz-animation-delay: 3s;
    -o-animation-delay: 3s;
    -ms-animation-delay: 3s;
    animation-delay: 3s;
}

@keyframes imageAnimation {
  0% {
      opacity: 0.5;
      animation-timing-function: ease-in;
  }

  8% {
      opacity: 1;
      transform: scale(1.05);
      animation-timing-function: ease-out;
  }

  17% {
      opacity: 1;
      transform: scale(1.05);
  }

  25% {
      opacity: 0.5;
      transform: scale(1.05);
  }

  100% {
      opacity: 0.5;
      transform: scale(1.05);
  }
}
@-webkit-keyframes imageAnimation {
  0% {
      opacity: 0.5;
      animation-timing-function: ease-in;
  }

  8% {
      opacity: 1;
      transform: scale(1.05);
      animation-timing-function: ease-out;
  }

  17% {
      opacity: 1;
      transform: scale(1.05);
  }

  25% {
      opacity: 0.5;
      transform: scale(1.05);
  }

  100% {
      opacity: 0.5;
      transform: scale(1.05);
  }
}
@-moz-keyframes imageAnimation {
  0% {
      opacity: 0.5;
      animation-timing-function: ease-in;
  }

  8% {
      opacity: 1;
      transform: scale(1.05);
      animation-timing-function: ease-out;
  }

  17% {
      opacity: 1;
      transform: scale(1.05);
  }

  25% {
      opacity: 0.5;
      transform: scale(1.05);
  }

  100% {
      opacity: 0.5;
      transform: scale(1.05);
  }
}

@-o-keyframes imageAnimation {
  0% {
      opacity: 0.5;
      animation-timing-function: ease-in;
  }

  8% {
      opacity: 1;
      transform: scale(1.05);
      animation-timing-function: ease-out;
  }

  17% {
      opacity: 1;
      transform: scale(1.05);
  }

  25% {
      opacity: 0.5;
      transform: scale(1.05);
  }

  100% {
      opacity: 0.5;
      transform: scale(1.05);
  }
}
@-ms-keyframes imageAnimation {
  0% {
      opacity: 0.5;
      animation-timing-function: ease-in;
  }

  8% {
      opacity: 1;
      transform: scale(1.05);
      animation-timing-function: ease-out;
  }

  17% {
      opacity: 1;
      transform: scale(1.05);
  }

  25% {
      opacity: 0.5;
      transform: scale(1.05);
  }

  100% {
      opacity: 0.5;
      transform: scale(1.05);
  }
}



.pDataTable {
    padding: 0px 20px;
}
