<div class="undeter-solic-padding">

    <div class="srt-blue undeter-solic-title">
        Last 30 Days Excluded Solicitations from SRT Prediction Results (By Category)
        <sup class="undeter-solic-supfont" 
            [tooltip]="predictionResult" tooltipPlacement="bottom">
            <i class="fa fa-info-circle info" aria-hidden="true" ></i>
        </sup>  
        <tooltip-content #predictionResult [animation]="true">
            <div>'Other Undetermined' solicitations are solicitations with attachments that are currently failed to be accessed by the system due to various reasons (e.g., security redirect).</div>
        </tooltip-content>  
    </div>  
   
    <div class="undeter-solic-div">
      <div class="undeter-solic-canvas">
          <canvas baseChart
                  [data]="pieChartData"
                  [labels]="pieChartLabels"
                  [options]="options"
                  [colors]="colorsOverride"
                  [chartType]="pieChartType">
          </canvas>
      </div>
      <div class="undeter-solic-dispaly1">
            {{displayPresolicitation}}
      </div>
      <div class="undeter-solic-dispaly2">
            {{displayNonMachineReadable}}
      </div>
      <div class="undeter-solic-dispaly3">
            {{displayNoDocument}}
      </div>
      <div class="undeter-solic-dispaly4">
            {{displayOtherUndetermined}}
      </div>
    </div>
    <!--<div style="padding: 30px 10px; text-align: center; font-size: 16px; color: #1768d7; font-weight: 500">
        <span style="font-size: 1.5em; font-weight: 700">{{updatedCompliantICTNumber}}</span> out of 
        <span style="font-size: 1.5em; font-weight: 700">{{TotalNonCompliant}}</span> 
        non-compliant ICT solicitations have became compliant after they were updated on FedBizOpps.gov
    </div>-->

</div>