<table class="table" style="font-size: 16px">
    <thead>
        <tr style="font-weight: 700">
            <th>Name</th>
            <th>Position</th>
            <th>Agency</th>
            <th>Office</th>
            <th>Email</th>
            <th>Request Date/Time</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users; let even = even; let odd = odd"  [ngClass]="{ odd: odd, even: even }">
            <td>{{user.firstName}} {{user.lastName}}</td>
            <td></td>
            <td>{{user.agency}}</td>
            <td></td>
            <td>{{user.email}}</td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>