.list {
    margin-bottom: 10px;
}

.list-title {
    font-weight: 500;
    display: inline-block;
    vertical-align: baseline;
}

.list-content {
    font-weight: 700;
    display: inline-block;
    vertical-align: baseline;
}

.survey-radio-option {
    display: table-cell;
    text-align: left;
    width: 35px;
}

.summary-content-padding{
  padding: 30px 20px
}

/* us web design standard */

[type=checkbox] + label, [type=radio] + label {
    cursor: pointer;
    font-weight: 400;
    margin-bottom: 0.5em;
}

input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

[type=checkbox], [type=radio] {
    /*margin-left: -2rem;*/
    /*position: absolute;*/
  margin-right: 5px;
}

ul.checkbox-ul {
  margin-left: 60px;
}

ul.checkbox-ul input[type="checkbox"]  {
  width: 1em;
  height: 1em;
}

.input-percentage {
    width: 40px;
    height: 23px;
    margin-left: 15px;
}
.imsubmit{
    width: 170px;
    display: inline-block;
    vertical-align: top
}

#instruction{
    font-weight: 600;
    font-size: 16px;
    padding: 20px 30px;
    border: 1px solid #dadada
}
.impcontainer{
    font-size: 16px;
    line-height: 1.5em;
    font-weight: 500;
    padding: 40px 0px;
}
.imppostion{
    width: 100% ;
    display: inline-block;
    vertical-align: top
}

