<main id="content" class="bypass-block-target">
  <app-summary [step1]="step1" [step2]="step2" [step3]="step3" [solicitationID]="solicitationID" [type]="type">
  </app-summary>

  <div class="container">

    <div class="clearfix summary-content-padding">
      <div class="srt-title-padding">
        <a [routerLink]="['/solicitation/report']" style="font-weight: 500">
          < Back to Solicitation Review Results for Section 508 Requirements</a>
      </div>

      <div class="alert alert-success" *ngIf="feedbackSent" style="font-weight: 500">
        Your response is successfully submitted.
      </div>

      <div *ngIf="!feedbackSent">
        <div id="instruction">
          <h2 class="visually-hidden">Instructions</h2>
          <div style="padding-bottom: 10px">The SRT Team welcome your Subject Matter Expertise to make our tool better for all. To review scanned solicitation
            and provide your feedback, please follow the steps below:</div>

          <div>1) Click on the solicitation’s “FBO Link” provided below to access the solicitation on FedBizOpps website and download the solicitation documents;</div>
          <div>2) Evaluate the documents’ Section 508 conformance languages (here are some suggested keywords to search for in
            the documents: Section 508, accessibility, EIT, compliance, conform, conformance, VPAT, Section 508 requirements,
            WCAG, and Buy Accessible);</div>
          <div>3) Answer the short survey below to provide manual review feedback; and</div>
          <div>4) Click submit to send out your evaluation to the SRT Team.</div>

        </div>


        <div *ngIf="solicitation" class="clearfix impcontainer">
          <div class="imppostion">
            <div style="padding-bottom: 20px;">
              <h2 class="srt-section-title" style="text-transform: uppercase; padding-bottom: 20px;">
                solicitation review result
              </h2>
              <div class="list">
                <div class="list-title" style="width: 120px">Solicitation Title:&nbsp;</div>
                <div class="list-content">{{solicitation.title}}</div>
              </div>
              <div class="list">
                <div class="list-title" style="width: 142px">Solicitation Number:&nbsp;</div>
                <div class="list-content">{{solicitation.solNum}}</div>
              </div>
              <div class="list">
                <div class="list-title" style="width: 68px">FBO Link:&nbsp;</div>
                <div class="list-content"><a href="{{solicitation.url}}" target="_blank">{{solicitation.url}}</a></div>
              </div>
              <div class="list">
                <div class="list-title" style="width: 130px">Prediction Results:&nbsp; </div>
                <div class="list-content">
                  <ul class="nopadding">
                    <li style="list-style: none; line-height: 18px;">{{solicitation.reviewRec}}</li>
                  </ul>
                </div>
              </div>
            </div>

          <ul *ngFor="let survey of surveys; let i = index" style="padding: 0px;">
            <li style="list-style: none;">
              <h3 style="font-size: 18px;" *ngIf="survey.Question != 'Additional feedback:'">Q{{i+1}}. {{survey.Question}}</h3>


              <div style="padding-left: 60px;">
                <span style="color: #899197">{{survey.Note}}</span>
                <span style="padding: 5px 0px 0px 0px;" class="checkbox-ul">
                  <div *ngFor="let choice of survey.Choices; let c=index" style="list-style: none; padding: 0px 15px 0px 0px;" [ngStyle]="{'display': survey.Type=='multiple choice' ? 'inline-block' : 'block'}">
                    <input [attr.aria-label]="choice" id="{{survey.ID}}{{choice}}" style=""   [ngModel]="surveyModel[i]==survey.Choices[c]" (ngModelChange)="checkBox(survey, choice, $event)"
                      type="checkbox" value="{{choice}}"/>
                    <label aria-hidden="true" for="{{survey.ID}}{{choice}}">{{choice}}</label>

                  </div>
                  <div *ngIf="survey.Type=='essay'" style="list-style: none; padding: 0px 15px 0px 0px;">
                    <div> <label id="{{survey.ID}}-label" for="{{survey.ID}}{{choice}}" style="position:absolute;
                      left:-10000px;
                      top:auto;
                      width:1px;
                      height:1px;
                      overflow:hidden;">textarea to enter your feedback</label></div>
                    <textarea [attr.aria-labelledby]="survey.ID + '-label'" id="{{survey.ID}}{{choice}}" class="form-control" [ngModel]="surveyModel[i]" (ngModelChange)="textarea(survey, $event)" [ngStyle]="{'min-height':survey.Question == 'Additional feedback:' ? '150px' : 'auto' }"> </textarea>
                  </div>
                </span>
              </div>
            </li>
          </ul>

            <div style="padding: 15px;">
              <button aria-label="Submit Solicitation Review" type="submit" class="srt-button imsubmit" (click)="feedback()" aria-label="submit this feedback">Submit</button>
            </div>

          </div>
        </div>
      </div>

    </div>

  </div>







</main>
