<div style="max-width: 300px; padding: 0px">

    <div style="font-size: 20px; margin-bottom: 20px; font-weight: 600" class="srt-blue">
        Conversion Rate
        <sup style="font-size: 20px;" 
            [tooltip]="ConversionRate" tooltipPlacement="bottom">
            <i class="fa fa-info-circle info" aria-hidden="true" ></i>
        </sup>  
        <tooltip-content #ConversionRate [animation]="true">
            <div>Conversion Rate = (# updated compliant solicitations / Total non-compliant ICT solicitations) * 100%</div>
        </tooltip-content> 
    </div>  

    <div style="position: relative; ">
        <div style="position: absolute; top: 79px; width: 100%; text-align: center; font-size: 30px; color: #2C81C0" class="conversion-count">
            {{percentage}}%
        </div>
        <div style="display: block; margin: 0px auto; height: 200px; transform: translateZ(0)">
            <canvas baseChart
                    [data]="doughnutChartData"
                    [labels]="doughnutChartLabels"
                    [options]="options"
                    [colors]="colorsOverride"
                    [chartType]="doughnutChartType"
                    (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)">
            </canvas>
        </div>
    </div>

    <div style="padding: 30px 10px; text-align: center; font-size: 16px; color: #1768d7; font-weight: 500">
        <span style="font-size: 1.5em; font-weight: 700">{{updatedCompliantICTNumber}}</span> out of 
        <span style="font-size: 1.5em; font-weight: 700">{{TotalNonCompliant}}</span> 
        non-compliant ICT/E&IT solicitations have became compliant after they were updated on FedBizOpps.gov
    </div>

</div>