
.us-tab-item-slide {
    text-align: center;
    line-height: 37px;
    display: inline-block;
    position: relative;
    padding-bottom: 3px;
    text-transform: uppercase;
    cursor: pointer;
}

.us-tab-item-slide:after {
    content: '';
    display: block;
    margin: auto;
    height: 3px;
    width: 0px;
    background: transparent;
    transition: width .3s ease, background-color .3s ease;
}

.us-tab-item-slide.active:after {
    width: 100%;
    background: #17699b;
}

.us-tab-item-slide.active {
    color: #17699b;
}

.us-tab-item-slide a {
    color: black;
    font-size: 16px;
    font-weight: 500;
    padding: 0px 10px;    
}

.us-tab-item-slide a:hover {
    text-decoration: none; 
}

ul.summary-steps {
    padding: 0px;
    font-size: 16px;
    margin: 0px;
}

ul.summary-steps li {
    list-style: none;
}



.srt-tabs {
    border-top: 1px solid #f7f7f7; 
    border-bottom: 1px solid #f7f7f7;
    background-color: #00336f;
}

.srt-tabs li {
    list-style: none;
    border-left: 1px solid #f7f7f7;
    text-align: center;
    float: left;
    text-transform: uppercase;
    cursor: pointer;
    padding: 10px 20px;
}

.srt-tabs li a {
    color: #f7f7f7;
}

.srt-tabs li a:hover {
    text-decoration: none;
}

.srt-tabs li.active {
    background-color: #f7f7f7
}

.srt-tabs li.active a {
    color: #00336f;
    font-weight: 700;
}

.srt-tabs li:last-child {
    border-right: 1px solid #f7f7f7;
}

