<div class="container">
  <div class="jumbotron">
    <img src="	https://s3.amazonaws.com/srt.bucket/assets/srtlogo.PNG" alt="">
  <h1>Welcome to the Solicitation Review Tool</h1>
  <p>The Solicitation Review Tool is provided to allow agencies to understand the overall solicitation compliance with various regulations.</p>
</div>
    <div class="row">
        <div class="col-md-2">
            <div class="thumbnail">
                <img src="https://s3.amazonaws.com/srt.bucket/assets/accessibility.jpg" class="">
                <div class="caption">
                     <h4 class="">Report</h4>

                    <p class="">Provides accessibility compliance results for your agency soliciations posted to fedbizzopps.com</p> <a [routerLink]="['/report']" class="btn btn-default btn-xs" role="button">Report</a>

                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="thumbnail">
                <img src="	https://s3.amazonaws.com/srt.bucket/assets/Analytics.png" class="">
                <div class="caption">
                     <h4 class="">Analytics</h4>

                    <p class="">Explore your agency soliciation data.</p><a [routerLink]="['/analytics']" class="btn btn-default btn-xs" role="button">Analytics</a>

                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="thumbnail">
                <img src="http://placehold.it/320x125/EEE" class="">
                <div class="caption">
                     <h4 class="">Pre-Exam</h4>

                    <p class="">Check the compliance of a solicitation prior to posting on FBO</p> <a href="#" class="btn btn-default btn-xs" role="button">Pre-Exam</a>

                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="thumbnail">
                <img src="http://placehold.it/320x125/EEE" class="">
                <div class="caption">
                     <h4 class="">Account Requests</h4>

                    <p class="">Administer requests for user accounts</p> <a href="#" class="btn btn-default btn-xs" role="button">Account Admin</a>

                </div>
            </div>
        </div>
    </div>
    <!--/row-->
</div>
<!--/container -->
