
<div style="background-image: url(../assets/home-page-cover.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            height: 350px;
            width: 100%;
            opacity: 0.85;
            position: relative">
        <div style="position: absolute; top: 0px; right: 0px; bottom: 0px; left: 0px;">
            <div style="text-align: right;  display: table; height: 100%; width: 100%">
                <div  style="display: table-cell; vertical-align: middle;">
                    <div style="padding: 0px 60px; max-width: 1000px; float: right">
                        <h1 style="font-weight: 600; border-bottom: 0.5px solid #112e51; padding-bottom: 10px" class="srt-blue">Solicitation Review Tool</h1>
                        <h3 style="padding-left: 100px; padding-top: 20px" class="srt-blue">
                            The Solicitation Review Tool (SRT) is provided to allow agencies to evaluate the overall solicitation compliance with accessibility, cyber security, and other regulations and requirements.
                        </h3>
                    </div>
                </div>

            </div>
        </div>
        
</div>

<div class="container">
    <div style="padding: 40px;">
        <div class="row">
            
            <!-- Review/Manage Workload -->
            <div class="col-md-4 col-sm-6" style="margin-bottom: 30px">
                <div class="srt-1-1">                
                    <div>
                        <div class="srt-main-box" [routerLink]="['/report']">
                            <!-- image -->
                            <div class="srt-9-20">                
                                <div>
                                    <div style="padding: 20px;">
                                        <div style="background-image: url(../assets/review-manage-workflow.png);
                                                    background-size: contain;
                                                    background-repeat: no-repeat;
                                                    background-position: center;
                                                    height: 100%; width: 100%">
                                            
                                        </div>
                                     </div>
                                </div>
                            </div>
                            <!-- description -->
                            <div class="srt-11-20">                
                                <div>
                                    <div style="text-align: center; padding: 0px 25px">
                                        <h3>Review/Manage Workload</h3>
                                        <p>Access and manage solicitation review results for your agency</p>
                                    </div>
                                </div>
                            </div>                
                        </div>
                    </div>
                </div>
            </div>

            <!-- View Analytic -->
            <div class="col-md-4 col-sm-6" style="margin-bottom: 30px">
                <div class="srt-1-1">
                    <div>
                        <div class="srt-main-box" [routerLink]="['/analytics']">
                            <!-- image -->
                            <div class="srt-9-20">                
                                <div>
                                    <div style="padding: 20px;">
                                        <div style="background-image: url(../assets/view-analytics.png);
                                                    background-size: contain;
                                                    background-repeat: no-repeat;
                                                    background-position: center;
                                                    height: 100%; width: 100%">
                                            
                                        </div>
                                     </div>
                                </div>
                            </div>
                            <!-- description -->
                            <div class="srt-11-20">                
                                <div>
                                    <div style="text-align: center; padding: 0px 25px">
                                        <h3>View Analytics</h3>
                                        <p>Visualize trend and discover insights from the analytics</p>
                                    </div>
                                </div>
                            </div>  
                        </div>
                    </div>                   
                </div>
            </div>

            <!-- Manage SRT Access Requests -->
            <div class="col-md-4 col-sm-6" style="margin-bottom: 30px">
                <div class="srt-1-1">
                    <div>
                        <div class="srt-main-box" [routerLink]="['/admin']">
                            <!-- image -->
                            <div class="srt-9-20">                
                                <div>
                                    <div style="padding: 20px;">
                                        <div style="background-image: url(../assets/manage-srt-access-requests.png);
                                                    background-size: contain;
                                                    background-repeat: no-repeat;
                                                    background-position: center;
                                                    height: 100%; width: 100%">
                                            
                                        </div>
                                     </div>
                                </div>
                            </div>
                            <!-- description -->
                            <div class="srt-11-20">                
                                <div>
                                    <div style="text-align: center; padding: 0px 25px">
                                        <h3>Manage SRT Access Requests</h3>
                                        <p>The Administrator manages new SRT sign up requests and current users settings</p>
                                    </div>
                                </div>
                            </div>  
                        </div>
                    </div>
                </div>
            </div>
      
            <!-- Get Additional Resourses -->      
            <div class="col-md-4 col-sm-6" style="margin-bottom: 30px">
                <div class="srt-1-1">                
                    <div>
                        <div class="srt-main-box" onclick="window.open('https://app.buyaccessible.gov/baw/Main.jsp')">
                            <!-- image -->
                            <div class="srt-9-20">                
                                <div>
                                    <div style="padding: 20px;">
                                        <div style="background-image: url(../assets/get-additional-resourses.png);
                                                    background-size: contain;
                                                    background-repeat: no-repeat;
                                                    background-position: center;
                                                    height: 100%; width: 100%">
                                            
                                        </div>
                                     </div>
                                </div>
                            </div>
                            <!-- description -->
                            <div class="srt-11-20">                
                                <div>
                                    <div style="text-align: center; padding: 0px 25px">
                                        <h3>Get Additional Resources</h3>
                                        <p>Need help with Accessiblity requirements? Buy Accessible Wizard can assist you with that</p>
                                    </div>
                                </div>
                            </div>  
                        </div>
                    </div>
                </div>
            </div>

            <!-- FAQ --> 
            <div class="col-md-4 col-sm-6" style="margin-bottom: 30px">
                <div class="srt-1-1">
                    <div>
                        <div class="srt-main-box" [routerLink]="['/faq']">
                            <!-- image -->
                            <div class="srt-9-20">                
                                <div>
                                    <div style="padding: 20px;">
                                        <div style="background-image: url(../assets/faq.png);
                                                    background-size: contain;
                                                    background-repeat: no-repeat;
                                                    background-position: center;
                                                    height: 100%; width: 100%">
                                            
                                        </div>
                                     </div>
                                </div>
                            </div>
                            <!-- description -->
                            <div class="srt-11-20">                
                                <div>
                                    <div style="text-align: center; padding: 0px 25px">
                                        <h3>FAQ</h3>
                                        <p>Review Frequently Asked Questions and learn more about SRT</p>
                                    </div>
                                </div>
                            </div>  
                        </div>
                    </div>                   
                </div>
            </div>

            <!-- Settings --> 
            <div class="col-md-4 col-sm-6" style="margin-bottom: 30px">
                <div class="srt-1-1">
                    <div>
                        <div class="srt-main-box">
                            <!-- image -->
                            <div class="srt-9-20">                
                                <div>
                                    <div style="padding: 20px;">
                                        <div style="background-image: url(../assets/settings.png);
                                                    background-size: contain;
                                                    background-repeat: no-repeat;
                                                    background-position: center;
                                                    height: 100%; width: 100%">
                                            
                                        </div>
                                     </div>
                                </div>
                            </div>
                            <!-- description -->
                            <div class="srt-11-20">                
                                <div>
                                    <div style="text-align: center; padding: 0px 25px">
                                        <h3>Settings</h3>
                                        <p>Take user to his/her Profile page </p>
                                    </div>
                                </div>
                            </div>  
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
