<div class="container">
  <div class="jumbotron">
  <!--    <img id="gsa" src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcStDPOwn52HTo15I09MdmZaDVuVM90Xc09d_WO1GRAlptb47H4a34h14g" alt=""> -->
      <img id="srtlogo" src="https://s3.amazonaws.com/srt.bucket/assets/srtlogo.png" alt="">
      <h1>Welcome to the Solicitation Review Tool</h1>
  <p>The Solicitation Review Tool is provided to allow agencies to understand the overall solicitation compliance with various regulations.</p>
</div>
<div class="container-fluid cards-row">
  <div class="container">
  <div class="row col-xs-12">
    <div class="col-md-3">
    <div class="thumbnail">
      <img src="https://s3.amazonaws.com/srt.bucket/assets/Check-mark.jpg" alt="Check Mark">
      <div class="caption">
        <h3>Manage Workload</h3>
        <p class="card-description">Access and manage solicitation review results for your agency</p>
        <p><a [routerLink]="['/report']" class="btn btn-primary" role="button">Manage Workload</a></p>
      </div>
    </div>
  </div>
  <div class="col-md-3">
  <div class="thumbnail">
    <img src="	https://s3.amazonaws.com/srt.bucket/assets/Analytics.jpg" alt="Analytics Magnifying Glass">
  <div class="caption">
    <h3>View Analytics</h3>
    <p class="card-description">Explore your agency soliciation data.</p>
    <p><a [routerLink]="['/analytics']" class="btn btn-primary" role="button">View Analytics</a></p>
  </div>
  </div>
</div>
<div class="col-md-3">
<div class="thumbnail">
<img src="https://s3.amazonaws.com/srt.bucket/assets/user_tour.jpg" alt="Group of three users">
<div class="caption">
  <h3>Manage SRT Access Requests</h3>
  <p class="card-description">Manage Solicitation Review Tool access requests.  Administrator view to handle user registration workflow.</p>
  <p><a [routerLink]="['/report']" class="btn btn-primary">Manage Requests</a></p>
</div>
</div>
</div>
<div class="col-md-3">
<div class="thumbnail">
<img src="https://s3.amazonaws.com/srt.bucket/assets/procurement-2.jpg" alt="Procurement graphic.">
<div class="caption">
  <h3>Need Help?</h3>
  <p class="card-text">Do you need help with Accessiblity requirements for solicitations?  Try out the Buy Accessible Wizard!</p>
  <p><a href="https://app.buyaccessible.gov/baw/Main.jsp" target="_blank" class="btn btn-primary">Buy Accessible Wizard</a></p>
</div>
</div>
</div>
<div class="col-md-3">
<div class="thumbnail">
<img src="https://s3.amazonaws.com/srt.bucket/assets/good-bien_eng.jpg" alt="Procurement graphic.">
<div class="caption">
  <h3>Help Us Improve!</h3>
  <p class="card-text">Do you think the score could be better?  Help us improve our accuracy!</p>
  <p><a href="#" class="btn btn-primary">Help Us Improve!</a></p>
</div>
</div>
</div>
</div>
</div>
</div>
<!--/container -->
