.nopadding {
    padding: 0px !important;
    margin: 0px !important;
}

.srt-background-image {
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center;    
    height: 200px;
    width: 100%; 
}

.srt-text-section {
    width: 100%; text-align: center; height: 240px
}

.srt-text-section-title {
    font-size: 24px; padding: 10px; border-bottom: 1px solid #dadada; font-weight: 500;
} 

.srt-text-section-description {
    font-size: 18px; padding: 10px; border-bottom: 1px solid #dadada
} 

.srt-button {
    font-size: 20px; padding: 10px; border-bottom: 1px solid #dadada
} 

.srt-home-button {
    height: 80px; padding: 20px; text-align: center;
}

#srtlogo {
	max-width: 100%;
	max-height: 200px;
	float: right;
}

.centerfy img{
    margin: 0 auto;
}

.centerfy {
    text-align: center;
}

#gsa {
	max-width: 100%;
	max-height: 200px;
	float: left;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
}

.container {
    padding: 0 16px;
}

.title {
    color: grey;
    font-size: 18px;
}

button:hover, a:hover {
    opacity: 0.7;
}

body{font-family:'Open Sans Condensed',sans-serif;font-size:18px}
.backto{background:#039; padding:12px 0; color:#fff}
.backto a{color:#FFF; text-decoration:none}
.cards-row{padding-top:40px; padding-bottom:20px; background:#eee}
.thumbnail{height: 520px; padding:0; border-radius:0; border:none; box-shadow:0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12)}
.thumbnail>img{width:100%; height: 200px; display:block}
.thumbnail h3{font-size:26px}
.thumbnail h3,.card-description{margin:0; padding:8px 0; border-bottom:solid 1px #eee; text-align:center}
.thumbnail p{padding-top:8px; font-size:20px}
.thumbnail .btn{align-self: center; position: absolute; bottom: 30px; margin:0; padding: 5px 3px; border-radius:0; box-shadow:0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12); font-size:20px}



.srt-1-1:before {
    content: "";
    display: block;
    padding-top: 100%;
}

.srt-9-20:before {
    content: "";
    display: block;
    padding-top: 45%;
}

.srt-11-20:before {
    content: "";
    display: block;
    padding-top: 55%;
}

.srt-9-20, 
.srt-11-20,
.srt-1-1 {
    position: relative;
    width: 100%;
    overflow: hidden;
    transition: all 150ms ease-in-out;
}

.srt-9-20 > div,
.srt-11-20 > div,
.srt-1-1 > div {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.srt-9-20 > div > div,
.srt-11-20 > div > div,
.srt-1-1 > div > div {
    height: 100%;
    width: 100%;
}

.srt-main-box {
    border: 1px solid #dadada;
    transition: all 150ms ease-in-out;
    cursor: pointer;
}

.srt-main-box:hover {
    border: 1px solid #78aeee;
}

.srt-1-1:hover {
    box-shadow:0 6px 10px 0 rgba(120,174,238, 0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px -1px rgba(120,174,238, 0.3);
}

.srt-main-box h3 {
    margin-top: 0px;
}

.srt-main-box p {
    margin-top: 20px;
    font-size: 18px;
    padding: 0px 30px;
}