


.faq-content-div {
    padding: 50px 0px;
}

.search-input {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    height: 45px;
    min-width: 300px;
    border: 1px solid #205493;
    outline: none;
    box-shadow: none;
    padding: 0px 10px;
    font-weight: 500;
    font-size: 16px;
}

.search-button {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 75px;
    background-color: #205493;
    border-color: #205493;
    color: white;
    font-size: 20px;
    font-weight: 500;
    height: 45px;     
    text-align: center;
}


.faq-right-content h2 {
    padding: 0px 0px 20px 0px;
    margin: 0px;
    color: #155394;
}

.faq-right-content {
    padding: 0px 0px 0px 20px;
}

.faq-right-content .usa-accordion-bordered{
    padding: 0px 0px 50px 0px; 
}

.nopadding {
    padding: 0px !important;
    margin: 0px !important;
}

.sticky-nav {    
    padding: 0px 40px 0px 0px;
    position: sticky; top: 60px; left: 0px; float: left; width: 25%
}

.usa-sidenav-list {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
    font-weight: 500;
    padding: 0px;
}

.usa-sidenav-list > li:first-child {
    border-top: none;
}

.usa-sidenav-list > li {
    background-color: transparent;
    border-top: 1px solid #5b616b;
    font-size: 1.7rem;
    cursor: pointer;
}

.usa-sidenav-list > li {
    margin-bottom: 0;
}

.usa-sidenav-list a {
    border: none;
    color: #212121;
    display: block;
    font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
    line-height: 1.3;
    padding: 0.85rem 1rem 0.85rem 1.8rem;
    text-decoration: none;
}

.usa-sidenav-list .active a {
    border-left: 4px solid #0071bc;
    color: #0071bc;
    font-weight: 700;
    padding-left: 1.4rem;
}

.usa-sidenav-list a:hover {
    background-color: #f1f1f1;
    color: #0071bc;
    text-decoration: none;
}

.usa-sidenav-list a {
    border: none;
    color: #212121;
    display: block;
    font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
    line-height: 1.3;
    padding: 0.85rem 1rem 0.85rem 1.8rem;
    text-decoration: none;
}


h4.panel-title {
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    display: inline-block;
    width: calc(100% - 30px);
    text-align: left
}



.panel-group .panel {
    border-radius: 0;
    border: none;
}

.panel-group {
    margin-bottom: 40px;
}

.panel-body {
    font-size: 16px;
    font-weight: 500;
}

.panel {
    box-shadow: none;
}

a.panel-link {
    color: black;
}

a.panel-link:hover {
    text-decoration: none;
}

.panel-link:after {
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\2212";    /* adjust as needed, taken from bootstrap.css */
    color: inherit;         /* adjust as needed */
    font-size: 10px;
    display: inline-block;
    width: 25px;
    text-align: right;
}

.panel-link.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\2b";    /* adjust as needed, taken from bootstrap.css */
}

@media (max-width: 1200px)
{
    .usa-sidenav-list {
        display: none;
    }
}


.faqh4{
    font-weight: 700;
    font-size: 16px;
    background-color: transparent;
    cursor: pointer;
    text-decoration: none;
    line-height: 1.1;
   
}