.table-caption {
    text-align: right;
  }
  
  .icon-search {
    margin: 0.25rem 0.25rem 0 0;
  }
  
  .global-filter {
    width: auto;
    margin-right: 1.5rem;
  }
  
  .export-button {
    float: right;
  }
  
  .icon-file {
    margin-right: 0.5rem;
  }
  
  .details-cell {
    text-align: center;
  }