
<div class="chartcontainer">
    
    <div tabindex="0" class="srt-blue circlechart">
        Preliminary Compliance Rate
        <sup class="supfont" 
            [tooltip]="ComplianceRate" tooltipPlacement="bottom">
            <i class="fa fa-info-circle info" aria-hidden="true" ></i>
        </sup>  
        <tooltip-content #ComplianceRate [animation]="true">
            <div>Compliance Rate = (Total compliant ICT solicitations / Total ICT solicitations scanned) * 100%</div>
        </tooltip-content> 
    </div>  

    <div class="precposi">
        <div class="compliance-count percentage">
            {{percentage}}%
        </div>
    <div class="perposition">
            <canvas baseChart
                    [data]="doughnutChartData"
                    [labels]="doughnutChartLabels"
                    [options]="options"
                    [colors]="colorsOverride"
                    [chartType]="doughnutChartType"
                    (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)">
            </canvas>
        </div>
    </div>
  


    <div class="perresult">
        <span class="chartspan">{{compliance}}</span> out of 
        <span class="chartspan">{{totalICT}}</span> 
        ICT/E&IT machine readable solicitations scanned by SRT are Section 508 compliant solicitations
    </div>
</div>
