<main id="content" class="bypass-block-target">

  <div class="container">
    <div class="clearfix summary-content-padding">


      <!-- Prediction History -->
      <div style="font-size: 16px;" class="margin-bottom-4">
        <div class="list-title" style="width: 100%;">
          Prediction History
        </div>
        <div class="list-content">
          @if (predictionHistory) {
            <ul class="nopadding">
              @for (entry of predictionHistory; track entry) {
                <li style="list-style: none;">
                  {{entry.date}} -
                  <span [style.font-weight]="600">
                    @switch (entry.value) {
                      @case ('red') {
                        Non-Compliant
                      }
                      @case ('green') {
                        Compliant
                      }
                      @default {
                        {{entry.value}}
                      }
                    }
                  </span>
                </li>
              }
            </ul>
          }
        </div>
      </div>

      <!-- Action History -->
      <div style="font-size: 16px;">
        <div class="list-title" style="width: 100%;">
          Action History
        </div>
        <div class="list-content">
          @if (history) {
            <ul class="nopadding">
              @for (action of history; track action) {
                <li style="list-style: none;">
                  {{action.date}} - <span style="font-weight: 600">{{action.user}}</span> {{action.action}}
                </li>
              }
            </ul>
          }
        </div>
      </div>
    </div>
  </div>
</main>