<main id="content" class="bypass-block-target">
 
  <div class="container">
    <div class="clearfix summary-content-padding">
      

      <!-- Prediction History -->
      <div style="font-size: 16px;" class="margin-bottom-4">
        <div class="list-title" style="width: 100%;">
          Prediction History
        </div>
        <div class="list-content">
          <ul *ngIf="predictionHistory" class="nopadding">
            <li *ngFor="let entry of predictionHistory" style="list-style: none;">
              {{entry.date}} - 
              <span [style.font-weight]="600">
                <ng-container [ngSwitch]="entry.value">
                  <ng-container *ngSwitchCase="'red'">Non-Compliant</ng-container>
                  <ng-container *ngSwitchCase="'green'">Compliant</ng-container>
                  <ng-container *ngSwitchDefault>{{entry.value}}</ng-container>
                </ng-container>
              </span>
            </li>
          </ul>
        </div>
      </div>

      <!-- Action History -->
      <div style="font-size: 16px;">
        <div class="list-title" style="width: 100%;">
          Action History
        </div>
        <div class="list-content">
          <ul *ngIf="history" class="nopadding">
            <li *ngFor="let action of history" style="list-style: none;">
              {{action.date}} - <span style="font-weight: 600">{{action.user}}</span> {{action.action}}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</main>