<div class="col-xs-4 col-md-offset-1">
  <div class='register-title'>
      <div>New to Solicitation Review Tool?</div>
      <div style="color: red; font-size: 12px; padding: 5px; font-weight: 300;"><sup>*</sup>Required fields</div>
 </div>
  <form [formGroup]="myForm" (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label for="firstName">First Name<span style="color: red; padding-left: 5px;"><sup>*</sup></span></label>
      <input type="text"
             id="firstName"
             class="form-control"
             formControlName="firstName">
    </div>
    <div class="form-group">
      <label for="lastName">Last Name<span style="color: red; padding-left: 5px;"><sup>*</sup></span></label>
      <input type="text"
             id="lastName"
             class="form-control"
             formControlName="lastName">
    </div>
   <div class="form-group">
      <label for="position">Position<span style="color: red; padding-left: 5px;"><sup>*</sup></span></label>
      <input type="text"
             id="position"
             class="form-control"
             formControlName="position">
    </div>
    <div class="form-group">
      <label for="email">Email Address<span style="color: red; padding-left: 5px;"><sup>*</sup></span></label>
      <input type="email"
             id="email"
             class="form-control"
             formControlName="email">
    </div>
    <div class="form-group" style="margin-bottom: 40px;">
      <label for="agency">Agency<span style="color: red; padding-left: 5px;"><sup>*</sup></span></label>
      <input type="text"
             id="agency"
             class="form-control"
             formControlName="agency">
    </div>
    <div class="form-group" style="margin-bottom: 40px;">
      <label for="password">Password<span style="color: red; padding-left: 5px;"><sup>*</sup></span></label>
      <input type="password"
             id="password"
             class="form-control"
             formControlName="password">
    </div>
    <button type="submit" class="btn btn-primary srt-button">Send Request</button>
  </form>
</div>
