
  <div class="alert alert-success" *ngIf="registerSuccess">
    <strong>Success!</strong> Thank you for registering!  You should receive an email confirming access.
  </div>
  <div class='register-title' *ngIf="!registerSuccess">
      <!--<div>New to Solicitation Review Tool?</div>-->
      <div style="color: #BE3430; font-size: 14px; padding: 5px; font-weight: 300;"><sup>*</sup>Required fields</div>
  </div>


  <form [formGroup]="myForm" (ngSubmit)="onSubmit()" *ngIf="!registerSuccess">


    <!-- firstName -->
    <div class="form-group">
      <label for="firstName">First Name
          <span style="color: #BE3430; padding-left: 5px;"><sup>*</sup></span>
          <span style="color: #BE3430; font-weight: bold; float: right" *ngIf="errorMessage && (myForm.value.firstName == null || myForm.value.firstName == '')">Please fill in requred field</span>
      </label>
      <input type="text"
             id="firstName"
             class="form-control"
             [ngClass]="{'error-form': errorMessage && (myForm.value.firstName == null || myForm.value.firstName == '')}"
             formControlName="firstName">
    </div>

    <!-- lastName -->
    <div class="form-group">
      <label for="lastName">Last Name
          <span style="color: #BE3430; padding-left: 5px;"><sup>*</sup></span>
          <span style="color: #BE3430; font-weight: bold; float: right" *ngIf="errorMessage && (myForm.value.lastName == null || myForm.value.lastName == '')">Please fill in requred field</span>
      </label>
      <input type="text"
             id="lastName"
             class="form-control"
             [ngClass]="{'error-form': errorMessage &&(myForm.value.lastName == null || myForm.value.lastName == '')}"
             formControlName="lastName">
    </div>

    <!-- Position -->
    <div class="form-group">
      <label for="position">Position
          <span style="color: #BE3430; padding-left: 5px;"><sup>*</sup></span>
          <span style="color: #BE3430; font-weight: bold; float: right" *ngIf="errorMessage && (myForm.value.position == null || myForm.value.position == '')">Please fill in requred field</span>
      </label>
      <input type="text"
             id="position"
             class="form-control"      
             [ngClass]="{'error-form': errorMessage &&(myForm.value.position == null || myForm.value.position == '')}"       
             formControlName="position">
    </div>

  
    <!-- email -->
    <div class="form-group">
      <label for="email">Email Address
          <span style="color: #BE3430; padding-left: 5px;"><sup>*</sup></span>
          <span style="color: #BE3430; font-weight: bold; float: right" *ngIf="errorMessage && (myForm.value.email == null || myForm.value.email == '')">Please fill in requred field</span>
      </label>
      <input type="email"
             id="email"
             class="form-control"
             [ngClass]="{'error-form': errorMessage && (myForm.value.email == null || myForm.value.email == '')}"
             formControlName="email">
    </div>

    <!-- agency -->
    <div class="form-group" >
     
      <label for="agency">Agency
          <span style="color: #BE3430; padding-left: 5px;"><sup>*</sup></span>
          <span style="color: #BE3430; font-weight: bold; float: right" *ngIf="errorMessage && (myForm.value.agency == null || myForm.value.agency == '')">Please fill in requred field</span>
      </label>
      <ng2-completer id="agency" [(ngModel)]="searchStr" [datasource]="dataService" [minSearchLength]="0" 
            formControlName="agency" [placeholder]="placeholder" [textSearching]="textSearching" [pause]="500" matchClass="match" (keydown)="open()"
      ></ng2-completer>
      <!--<input type="text"
             id="agency"
             class="form-control"
             [ngClass]="{'error-form': errorMessage && (myForm.value.agency == null || myForm.value.agency == '')}"
             formControlName="agency">-->
    </div>

    <!-- Access Level -->
   <div class="form-group">
        <label for="accessLevel">Request Access Level
            <span style="color: #BE3430; padding-left: 5px;"><sup>*</sup></span>
            <span style="color: #BE3430; font-weight: bold; float: right" *ngIf="errorMessage && selectedUserRole == 'Select'">Please fill in requred field</span>
        </label>
        <div class="dropdown">
            <input class="form-control dropdown-toggle" 
                id="dropdownMenuButton" 
                data-toggle="dropdown" 
                aria-haspopup="true" 
                aria-expanded="false"
                style="cursor: pointer"
                [ngClass]="{'error-form': errorMessage && selectedUserRole == 'Select'}" 
                (focus)="onFocus()"
                placeholder="Select your request access level" 
                value="{{selectedUserRole}}"/>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="width: 100%; font-weight: 500; top: auto; bottom: 100%" >
                <div class="dropdown-item" style="cursor: pointer; padding: 6px 12px" 
                    (click)="onChangeAccessLevel('Administrator')" 
                    [ngClass]="{'active' : selectedUserRole == 'Administrator'}">
                    <b>Administrator</b>
                    <div style="color: #899197">An Administrator is a superuser who can manage user access requests and user profiles</div>
                </div>
                <div class="dropdown-item" style="cursor: pointer; padding: 6px 12px"
                    (click)="onChangeAccessLevel('SRT Program Manager ')" 
                    [ngClass]="{'active' : selectedUserRole == 'SRT Program Manager '}">
                    <b>SRT Program Manager</b>
                    <div style="color: #899197">A SRT Program Manager oversees all federal agencies‘ 508 conformance activities. S/he has access to all agencies data</div>
                </div>

                <div class="dropdown-item" style="cursor: pointer; padding: 6px 12px" 
                    (click)="onChangeAccessLevel('Section 508 Coordinator')" 
                    [ngClass]="{'active' : selectedUserRole == 'Section 508 Coordinator'}">
                    <b>Section 508 Coordinator</b>
                    <div style="color: #899197"> A Section 508 Coordinator has access to review his/her agency’s solicitations report, and is responsible to contact POC; and provide feedback on the prediction results.</div>
                </div>
                <div class="dropdown-item" style="cursor: pointer; padding: 6px 12px" 
                    (click)="onChangeAccessLevel('CO / COR')" 
                    [ngClass]="{'active' : selectedUserRole == 'CO / dCOR'}">
                    <b>CO / COR</b>
                    <div style="color: #899197">A Contracting Officer / Contracting Officer Representative reviews his/her agency’s solicitations report and view the Section 508 conformance trend analytics</div>
                </div>

                <div class="dropdown-item" style="cursor: pointer; padding: 6px 12px" 
                    (click)="onChangeAccessLevel('Executive User ')" 
                    [ngClass]="{'active' : selectedUserRole == 'Executive User '}">
                    <b>Executive User</b>
                    <div style="color: #899197">An Executive User only has access to view the Section 508 conformance trend analytics.</div> 
                </div>
                
            </div>
        </div>
    </div>


    <!-- password -->
    <div class="form-group" style="margin-bottom: 40px;">
      <label for="password">Password
          <span style="color: #BE3430; padding-left: 5px;"><sup>*</sup></span>
          <span style="color: #BE3430; font-weight: bold; float: right" *ngIf="errorMessage && (myForm.value.password == null || myForm.value.password == '')">Please fill in requred field</span>
      </label>
      <input type="password"
             id="password"
             class="form-control"
             [ngClass]="{'error-form': errorMessage && (myForm.value.password == null || myForm.value.password == '')}"
             formControlName="password">
    </div>

    <button type="submit" class="srt-button">Send Request</button>
  </form>
