
<div class="col-xs-4 col-md-offset-1" style="padding-bottom: 40px;">
  <div class="alert alert-success" *ngIf="registerSuccess">
    <strong>Success!</strong> Thank you for registering!  You should receive an email confirming access.
  </div>
  <div class='register-title' *ngIf="!registerSuccess">
      <div>New to Solicitation Review Tool?</div>
      <div style="color: #BE3430; font-size: 14px; padding: 5px; font-weight: 300;"><sup>*</sup>Required fields</div>
  </div>


  <form [formGroup]="myForm" (ngSubmit)="onSubmit()" *ngIf="!registerSuccess">


    <!-- firstName -->
    <div class="form-group">
      <label for="firstName">First Name
          <span style="color: #BE3430; padding-left: 5px;"><sup>*</sup></span>
          <span style="color: #BE3430; font-weight: bold; float: right" *ngIf="errorMessage && (myForm.value.firstName == null || myForm.value.firstName == '')">Please fill in requred field</span>
      </label>
      <input type="text"
             id="firstName"
             class="form-control"
             [ngClass]="{'error-form': errorMessage && (myForm.value.firstName == null || myForm.value.firstName == '')}"
             formControlName="firstName">
    </div>

    <!-- lastName -->
    <div class="form-group">
      <label for="lastName">Last Name
          <span style="color: #BE3430; padding-left: 5px;"><sup>*</sup></span>
          <span style="color: #BE3430; font-weight: bold; float: right" *ngIf="errorMessage && (myForm.value.lastName == null || myForm.value.lastName == '')">Please fill in requred field</span>
      </label>
      <input type="text"
             id="lastName"
             class="form-control"
             [ngClass]="{'error-form': errorMessage &&(myForm.value.lastName == null || myForm.value.lastName == '')}"
             formControlName="lastName">
    </div>

   <!-- position -->
   <div class="form-group">
        <label for="position">Position
            <span style="color: #BE3430; padding-left: 5px;"><sup>*</sup></span>
            <span style="color: #BE3430; font-weight: bold; float: right" *ngIf="errorMessage && (myForm.value.position == null || myForm.value.position == '')">Please fill in requred field</span>
        </label>
        <div class="dropdown">
            <div class="form-control dropdown-toggle" 
                id="dropdownMenuButton" 
                data-toggle="dropdown" 
                aria-haspopup="true" 
                aria-expanded="false"
                style="cursor: pointer"
                [ngClass]="{'error-form': errorMessage && selectedPosition == 'Position'}">{{selectedPosition}}</div>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="width: 100%" >
                <div class="dropdown-item" style="cursor: pointer; padding: 6px 12px" 
                    (click)="onChangePosition('Section 508 Coordinator')" 
                    [ngClass]="{'active' : selectedPosition == 'Section 508 Coordinator'}">Section 508 Coordinator</div>
                <div class="dropdown-item" style="cursor: pointer; padding: 6px 12px" 
                    (click)="onChangePosition('Contracting Officer')" 
                    [ngClass]="{'active' : selectedPosition == 'Contracting Officer'}">Contracting Officer</div>
                <div class="dropdown-item" style="cursor: pointer; padding: 6px 12px"
                    (click)="onChangePosition('Contracting Officer Representative')"
                    [ngClass]="{'active' : selectedPosition == 'Contracting Officer Representative'}">Contracting Officer Representative</div>
                <div class="dropdown-item" style="cursor: pointer; padding: 6px 12px"
                    (click)="onChangePosition('Program Manager')" 
                    [ngClass]="{'active' : selectedPosition == 'Program Manager'}">Program Manager</div>
            </div>
        </div>
        <!--<div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown button
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
        </div>
        </div>-->
<!--
      <input type="text"
             id="position"
             style="display: none";
             class="form-control"             
             formControlName="position">-->
    </div>

    <!-- email -->
    <div class="form-group">
      <label for="email">Email Address
          <span style="color: #BE3430; padding-left: 5px;"><sup>*</sup></span>
          <span style="color: #BE3430; font-weight: bold; float: right" *ngIf="errorMessage && (myForm.value.email == null || myForm.value.email == '')">Please fill in requred field</span>
      </label>
      <input type="email"
             id="email"
             class="form-control"
             [ngClass]="{'error-form': errorMessage && (myForm.value.email == null || myForm.value.email == '')}"
             formControlName="email">
    </div>

    <!-- agency -->
    <div class="form-group" style="margin-bottom: 40px;">
     
      <label for="agency">Agency
          <span style="color: #BE3430; padding-left: 5px;"><sup>*</sup></span>
          <span style="color: #BE3430; font-weight: bold; float: right" *ngIf="errorMessage && (myForm.value.agency == null || myForm.value.agency == '')">Please fill in requred field</span>
      </label>
      <ng2-completer id="agency" [(ngModel)]="searchStr" [datasource]="dataService" [minSearchLength]="0" 
            formControlName="agency" [placeholder]="placeholder" [textSearching]="textSearching" [pause]="500" matchClass="match" (keydown)="open()"
      ></ng2-completer>
      <!--<input type="text"
             id="agency"
             class="form-control"
             [ngClass]="{'error-form': errorMessage && (myForm.value.agency == null || myForm.value.agency == '')}"
             formControlName="agency">-->
    </div>

    <!-- password -->
    <div class="form-group" style="margin-bottom: 40px;">
      <label for="password">Password
          <span style="color: #BE3430; padding-left: 5px;"><sup>*</sup></span>
          <span style="color: #BE3430; font-weight: bold; float: right" *ngIf="errorMessage && (myForm.value.password == null || myForm.value.password == '')">Please fill in requred field</span>
      </label>
      <input type="password"
             id="password"
             class="form-control"
             [ngClass]="{'error-form': errorMessage && (myForm.value.password == null || myForm.value.password == '')}"
             formControlName="password">
    </div>

    <button type="submit" class="srt-button">Send Request</button>
  </form>
</div>
