<div class="undeter-solic-padding">

    <div class="srt-blue undeter-solic-title">
      <h2 class="srt-blue chart">Last 30 Days Unevaluated Solicitations from SRT Prediction Results (By Category)
        <sup
            pTooltip="Other Undetermined' solicitations are solicitations with attachments that are currently failed to be accessed by the system due to various reasons (e.g., security redirect)."
            tooltipPosition="bottom">
            <i tabindex="0" class="fa fa-info-circle info" aria-hidden="true" ></i>
        </sup>
      </h2>
    </div>

    <div class="undeter-solic-div">
      <div class="undeter-solic-canvas">
          <canvas baseChart
                  [data]="pieChartData"
                  [options]="options"
                  [type]="pieChartType"
                  [plugins]="pieChartPlugins">
          </canvas>
      </div>
    </div>

</div>
