.faq-right-content h2 {
  padding: 0 0 1.25rem 0; /* 20px */
  margin: 0;
  color: #155394;
}

.faq-right-content {
  padding: 0 0 0 1.25rem; /* 20px */
}

.search-input {
  border-top-left-radius: 0.3125rem; /* 5px */
  border-bottom-left-radius: 0.3125rem; /* 5px */
  height: 2.8125rem; /* 45px */
  min-width: 18.75rem; /* 300px */
  border: 1px solid #205493;
  outline: none;
  box-shadow: none;
  padding: 0 0.625rem; /* 10px */
  font-weight: 500;
  font-size: 1rem; /* 16px */
  margin-top: 1.25rem; /* 20px */
}

.search-button {
  border-top-right-radius: 0.3125rem; /* 5px */
  border-bottom-right-radius: 0.3125rem; /* 5px */
  width: 4.6875rem; /* 75px */
  background-color: #205493;
  border-color: #205493;
  color: white;
  font-size: 1.25rem; /* 20px */
  font-weight: 500;
  height: 2.8125rem; /* 45px */
  text-align: center;
  margin-top: 1.25rem; /* 20px */
}

.search-title-header {
  scroll-margin-top: 3rem;
}

.search-title-header {
  scroll-margin-top: 3em;
}

.no-padding {
  padding: 0 !important;
  margin: 0 !important;
}

.panel-group .panel {
  border-radius: 0;
  border: none;
}

.panel-group {
  margin-bottom: 3em;
}

.sticky-sidenav {
  position: sticky;
  top: 5rem; /* 80px */
  padding-left: 1.25rem; /* 20px */
  max-height: calc(100vh - 5rem); /* 80px */
  overflow-y: auto;
}

.grid-container {
  overflow: visible;
  position: relative;
}

.container-fluid {
  overflow: visible !important;
}

.usa-sidenav__list {
  list-style: none;
  padding-left: 0;
}

.usa-sidenav__item {
  margin-bottom: 1rem;
}

.usa-sidenav__item a {
  text-decoration: none;
  color: #005ea2;
}

.accordion-content {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s ease-out, padding 0.3s ease-out;
  margin: 0;
  padding: 0;
}

.accordion-content.expanded {
  max-height: 31.25rem; /* 500px */
  padding: 1rem 0;
  margin-bottom: 0;
}

.usa-accordion__button::after {
  display: none !important;
}

.accordion-symbol {
  margin-right: 0.625rem; /* 10px */
  font-weight: bold;
  font-size: 1.125rem; /* 18px */
  float: left;
  display: inline-block;
}

.usa-accordion__button {
  justify-content: flex-start;
  text-align: left;
  background-image: none !important;
}