.faq-right-content h2 {
  padding: 0px 0px 20px 0px;
  margin: 0px;
  color: #155394;
}

.faq-right-content {
  padding: 0px 0px 0px 20px;
}

.search-input {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  height: 45px;
  min-width: 300px;
  border: 1px solid #205493;
  outline: none;
  box-shadow: none;
  padding: 0px 10px;
  font-weight: 500;
  font-size: 16px;
  margin-top: 20px; /* Added margin to the top */
}

.search-button {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 75px;
  background-color: #205493;
  border-color: #205493;
  color: white;
  font-size: 20px;
  font-weight: 500;
  height: 45px;
  text-align: center;
  margin-top: 20px; /* Added margin to the top */
}

.search-title-header {
  scroll-margin-top: 3em;
}

.no-padding {
  padding: 0px !important;
  margin: 0px !important;
}

@media (max-width: 1200px) {
  .usa-sidenav-list {
    display: none;
  }
}

.sticky-sidenav {
  position: sticky;
  top: 80px;
  padding-left: 20px;
  max-height: calc(100vh - 80px);
  overflow-y: auto;
}

.grid-container {
  overflow: visible;
  position: relative;
}

.container-fluid {
  overflow: visible !important;
}

.usa-sidenav__list {
  list-style: none;
  padding-left: 0;
}

.usa-sidenav__item {
  margin-bottom: 1rem;
}

.usa-sidenav__item a {
  text-decoration: none;
  color: #005ea2;
}

.accordion-content {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s ease-out, padding 0.3s ease-out;
  margin: 0;
  padding: 0;
}

.accordion-content.expanded {
  max-height: 500px;
  padding: 1rem 0;
  margin-bottom: 0;
}

.usa-accordion__button::after {
  display: none !important;
}

.accordion-symbol {
  margin-right: 10px;
  font-weight: bold;
  font-size: 18px;
  float: left;
  display: inline-block;
}

.usa-accordion__button {
  justify-content: flex-start;
  text-align: left;
  background-image: none !important;
}