
.nopadding {
    margin: 0px !important;
    padding: 0px !important;
}

.gov-msg:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e114";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    color: inherit;         /* adjust as needed */
    font-size: 10px;
}
.gov-msg.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e113";    /* adjust as needed, taken from bootstrap.css */
}

* {
    font-family: Source Sans Pro !important
}