<body>
    <div style="background-color: #f1f1f1 ; " class="clearfix">
        <div style="padding-right: 3rem; padding-left: 3rem;">
            <div style="float: left">
                <div style="margin-right: 10px; display: inline-block">
                    <img src="../assets/favicon-57.png" width="20px" height="20px" alt="U.S. flag" >
                </div>
                <div class="gsa-subtitle">
                    An official website of the United States government
                </div>
                <div class="gsa-subtitle" style="cursor: pointer">
                    <a href="" onclick="return false;" data-toggle="collapse" data-target="#msg" class="gov-msg collapsed" style="color:#0000C7">Here's how you know&nbsp;&nbsp;</a>
                </div>
            </div>
            <div style="float: right;" class="version">
              SRT build {{version}}<span id="client-version">{{clientVersion}}</span>
              <span style="display:none">Server Build date: {{buildDate}}</span>
              <span style="display:none">Server Environment: {{environment}}</span>
            </div>
            <div id="msg" class="collapse clearfix" style="max-width: 1040px; clear: both">
                <div class="col-sm-6 nopadding">
                    <div class="clearfix gsa-sintr">
                        <div class="gsa-sicon">
                            <img class="usa-banner-icon usa-media_block-img" width="38px" height="38px"  src="../assets/icon-dot-gov.svg" alt="Dot gov">
                        </div>
                        <div class="gsa-scontent">
                          <strong>The .gov means it’s official.</strong>
                              <br>
                              Federal government websites always use a .gov or .mil domain. Before sharing sensitive information online, make sure you’re on a .gov or .mil site by inspecting your browser’s address (or “location”) bar.
                         </div>
                    </div>
                </div>
                <div class="col-sm-6 nopadding">
                    <div class="clearfix gsa-sintr">
                        <div class="gsa-sicon">
                           <img class="usa-banner-icon usa-media_block-img" width="38px" height="38px" src="../assets/icon-https.svg" alt="SSL">
                        </div>
                        <div class="gsa-scontent">
                          <p>This site is also protected by an SSL (Secure Sockets Layer) certificate that’s been signed by the U.S. government. The <strong>https://</strong> means all transmitted data is encrypted &nbsp;— in other words, any information or browsing history that you provide is transmitted securely.</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <app-header [isLogin]="isLogin" [isGSAAdmin]="isGSAAdmin" [firstName]="firstName"></app-header>
    <router-outlet></router-outlet>
</body>
