<body>
    <div style="background-color: #f1f1f1 ; " class="clearfix">
        <div style="padding-right: 3rem; padding-left: 3rem;">
            <div style="float: left">
                <div style="margin-right: 10px; display: inline-block">
                    <img src="../assets/favicon-57.png" width="20px" height="20px" alt="U.S. flag" >
                </div>
                <div class="gsa-subtitle">
                    An official website of the United States government
                </div>
                <div class="gsa-subtitle dropdown-toggle" style="cursor: pointer">
                    <a href="" onclick="return false;" data-bs-toggle="collapse" data-bs-target="#msg" class="gov-msg collapsed" style="color:#0000C7" gaEvent="heres_how_you_know" gaCategory="security">Here's how you know<span class="caret"></span></a>
                </div>
            </div>
            <div style="float: right;" class="version">
              SRT build {{version}}<span id="client-version">{{clientVersion}}</span>
              <span style="display:none">Client Build date: {{clientBuildDate}}</span>
              <span style="display:none">Server Build date: {{buildDate}}</span>
              <span style="display:none">Server Environment: {{environment}}</span>
            </div>
            <div id="msg" class="collapse clearfix container" style="clear: both;">
                <div class="row">
                    <div class="col-sm-6 nopadding">
                        <div class="clearfix gsa-sintr">
                            <div class="gsa-sicon">
                                <img class="usa-banner-icon usa-media_block-img" width="38px" height="38px"  src="../assets/icon-dot-gov.svg" alt="Dot gov">
                            </div>
                            <div class="gsa-scontent">
                            <strong>The .gov means it’s official.</strong>
                                <br>
                                Federal government websites always use a .gov or .mil domain. Before sharing sensitive information online, make sure you’re on a .gov or .mil site by inspecting your browser’s address (or “location”) bar.
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 nopadding">
                        <div class="clearfix gsa-sintr">
                            <div class="gsa-sicon">
                            <img class="usa-banner-icon usa-media_block-img" width="38px" height="38px" src="../assets/icon-https.svg" alt="SSL">
                            </div>
                            <div class="gsa-scontent">
                            <p>This site is also protected by an SSL (Secure Sockets Layer) certificate that’s been signed by the U.S. government. The <strong>https://</strong> means all transmitted data is encrypted &nbsp;— in other words, any information or browsing history that you provide is transmitted securely.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <app-header [isApproved]="isApproved" [isLogin]="isLogin" [isGSAAdmin]="isGSAAdmin" [firstName]="firstName"></app-header>
    <router-outlet></router-outlet>

    <!-- Global USWDS Identifier Footer -->
    <footer class="srt-global-footer">
      <nav class="usa-identifier__section usa-identifier__section--required-links" aria-label="Important links">
        <div class="usa-identifier__container">
          <ul class="usa-identifier__required-links-list">
            <li class="usa-identifier__required-links-item">
              <a href="https://www.gsa.gov/about-us" class="usa-identifier__required-link usa-link">About GSA</a>
            </li>
            <li class="usa-identifier__required-links-item">
              <a href="https://www.gsa.gov/website-information/accessibility-statement" class="usa-identifier__required-link usa-link">Accessibility Statement</a>
            </li>
            <li class="usa-identifier__required-links-item">
              <a href="https://www.gsa.gov/reference/freedom-of-information-act-foia" class="usa-identifier__required-link usa-link">FOIA requests</a>
            </li>
            <li class="usa-identifier__required-links-item">
              <a href="https://www.gsa.gov/reference/civil-rights-programs/notification-and-federal-employee-antidiscrimination-and-retaliation-act-of-2002" class="usa-identifier__required-link usa-link">No FEAR Act data</a>
            </li>
            <li class="usa-identifier__required-links-item">
              <a href="https://www.gsaig.gov/" class="usa-identifier__required-link usa-link">Office of the Inspector General</a>
            </li>
            <li class="usa-identifier__required-links-item">
              <a href="https://www.gsa.gov/reference/reports/budget-performance" class="usa-identifier__required-link usa-link">Performance reports</a>
            </li>
            <li class="usa-identifier__required-links-item">
              <a href="https://www.gsa.gov/website-information/website-policies" class="usa-identifier__required-link usa-link">Privacy policy</a>
            </li>
            <li class="usa-identifier__required-links-item">
              <a href="/website-policies/#reuse-and-copyright" class="usa-identifier__required-link usa-link">Reuse and Copyright</a>
            </li>
          </ul>
        </div>
      </nav>
      <section class="usa-identifier__section usa-identifier__section--usagov" aria-label="U.S. government information and services">
        <div class="usa-identifier__container">
          <span class="usa-identifier__usagov-description">Looking for U.S. government information and services?</span>
          <a href="https://www.usa.gov/" class="usa-link">Visit USA.gov</a>
        </div>
      </section>
    </footer>
</body>
