
.nopadding {
    margin: 0px !important;
    padding: 0px !important;
}

.gov-msg:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e114";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    color: inherit;         /* adjust as needed */
    font-size: 10px;
}
.gov-msg.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e113";    /* adjust as needed, taken from bootstrap.css */
}

* {
    font-family: Source Sans Pro !important
}

.gsa-subtitle{
    display: inline-block; 
    font-size: 12px
}
.gsa-sintr{
padding-bottom: 2.3rem; 
padding-top: 4rem; 
padding-right: 30px; 
display: table
}
.gsa-sicon{
    display: table-cell; 
    vertical-align: top;
    width: 48px
}
.gsa-scontent{
    display: table-cell; 
    vertical-align: top; 
    font-size: 1.6rem;
}