
.no-padding {
    margin: 0px !important;
    padding: 0px !important;
}


* {
    font-family: Source Sans Pro !important
}

.gsa-subtitle{
    display: inline-block;
    font-size: 12px;
    margin-right: 2em;
}

.version{
  display: inline-block;
  font-size: 12px;
  padding-top:3px;
}


.gsa-sintr{
padding-bottom: 2.3rem;
padding-top: 4rem;
padding-right: 30px;
display: table
}
.gsa-sicon{
    display: table-cell;
    vertical-align: top;
    width: 48px
}
.gsa-scontent{
    display: table-cell;
    vertical-align: top;
    font-size: 1.2rem;
}
