<!--<img src="https://s3.amazonaws.com/srt.bucket/assets/Members.png" alt="">-->
<main id="content" class="bypass-block-target" tabindex="-1">

<div style="padding: 40px">

    <div class="srt-page-title srt-title-padding">
        User Access Requests
    </div>


  <!-- Tabs -->
    <div class="active-tabs" ng-if="showActivitySelection()">
        <div style="width: 100%; height: 70px;">
            <ul class="us-tab-slide nopadding" style="padding: 0px;">
                <li id="tab0" class="us-tab-item-slide" [routerLink]="['/admin/pending']" [ngClass]="{'active':pending}">
                    <a>PENDING</a>
                </li>
                <li id="tab1" class="us-tab-item-slide" [routerLink]="['/admin/accepted']" [ngClass]="{'active': accepted}">
                    <a>APPROVED</a>
                </li>
                <li id="tab2" class="us-tab-item-slide" [routerLink]="['/admin/rejected']" [ngClass]="{'active': rejected}">
                    <a>DENIED</a>
                </li>
            </ul>
        </div>
    </div>


    <div style="height: calc(100vh - 280px); overflow: auto; clear: both" class="clearfix">

        <table class="table" style="font-size: 16px">
            <thead>
                <tr style="font-weight: 700">
                    <th>Name</th>
                    <th>Position</th>
                    <th>Agency</th>
                    <th>Email</th>
                    <th>Request Date/Time</th>
                    <th *ngIf="accepted">Security Access</th>
                    <th *ngIf="rejected">Reason</th>
                    <th *ngIf="pending">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users; let even = even; let odd = odd"  [ngClass]="{ odd: odd, even: even }">
                    <td role="listbox"><a [routerLink]="['/user/profile' ,user.id]" role="option">{{user.firstName}} {{user.lastName}}</a> </td>
                    <td>{{user.position}} </td>
                    <td>{{user.agency}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.creationDate}}</td>
                    <td *ngIf="accepted">{{user.userRole}}</td>
                    <td *ngIf="rejected"></td>
                    <td *ngIf="pending">
                        <span style="color: #0a831e; cursor: pointer" (click)="Approve(user)">Approve</span>&nbsp;&nbsp;&nbsp;
                        <span style="color: #E60000; cursor: pointer" (click)="Reject(user)">Deny</span>
                    </td>
                </tr>
            </tbody>
        </table>
      </div>
  </div>
</main>

