<!--<img src="https://s3.amazonaws.com/srt.bucket/assets/Members.png" alt="">-->
<main id="content" class="bypass-block-target">

<div style="padding: 40px">

  <app-admin-header (menuClick)="processMenuClick($event)" ></app-admin-header>


  <app-user-report *ngIf="this.activeTab == 'approved'"></app-user-report>
  <masquerade *ngIf="this.activeTab == 'masquerade'"></masquerade>
  <metric-downloads *ngIf="this.activeTab == 'metric-downloads'"></metric-downloads>

  <!-- reports -->
  <div *ngIf="this.activeTab == 'reports'" style="clear:both;" class="row nopadding">
    <div class="sticky-nav col-md-2 hidden-xs hidden-sm" style="padding-top:80px;">
      <ul class="usa-sidenav-list" style="">
        <li (click)="scroll('anchor-Logins-Last-30-Days');">Logins</li>
        <li (click)="scroll('anchor-User-Login-Report');">User Login Report</li>
        <li (click)="scroll('anchor-Feedback-Table');">Feedback Table</li>
      </ul>
    </div>

    <div class="col-md-10 no-padding">
      <app-login-reports></app-login-reports>
      <app-admin-feedback></app-admin-feedback>
    </div>
  </div>
</div>
</main>

