<div>
  <div id="nav">
  <button pButton type="button" label="All Solicitations" [routerLink]="['/report']" id="reps"></button>
  </div>
<p-dataTable #dt [value]="solicitation">
  <p-column field="solNum" header="Solicitation"></p-column>
  <p-column field="title" header="Title"></p-column>
  <p-column field="url" header="URL" [style]="{'width': '300px'}"></p-column>
  <p-column field="predictions.value" header="Review Result"[style]="{'width': '90px'}">
    <ng-template let-sol="rowData" pTemplate="body">
      <div *ngIf="sol.predictions.value == 'RED'">
        <span [style.color]="sol.predictions.value"><i class="fa fa-exclamation-triangle"></i> {{sol.predictions.value}}</span>
      </div>
      <div *ngIf="sol.predictions.value == 'GREEN'">
        <span [style.color]="sol.predictions.value"><i class="fa fa-check"></i> {{sol.predictions.value}}</span>
      </div>
    </ng-template>
  </p-column>
  <p-column field="isReadable" header="Machine Readable (Yes/No)" [style]="{'width': '90px'}"></p-column>
  <p-column field="eitLikelihood" header="EIT (ICT) (Yes/No)" [style]="{'width': '90px'}"></p-column>
  <p-column field="agency" header="Agency"></p-column>
  <p-column field="office" header="Office"></p-column>
  <p-column field="contact" header="Contact"></p-column>
  <p-column field="position" header="Position"></p-column>
</p-dataTable>
</div>
<hr>
<div class="col-xs-4 col-md-offset-1">
  <div class='review-title'>Review Instructions</div>
  <ul>
    <li>Navigate to solicitation URL</li>
    <li>Download applicable solicitation documents</li>
    <li>Review documents for accessibility compliance</li>
    <li>Answer questions to the right</li>
    <li>Provide narrative comment</li>
  </ul>
</div>

<div class="col-xs-4 col-md-offset-1">
  <div class='review-title'>Manual Review</div>
  <form (ngSubmit)="onSubmit(f)" #f="ngForm">
  <div class="reviewData">
    <div>
      <label for="eit">(1) Does this solicitation identify Information and
        Communication Technology (ICT) deliverables that are covered under the law?</label>
        <div class="form-group">
                  <label class="sr-only" for="eit">Agency Conformance</label>
                  <div class="radio" *ngFor="let c of choices">
                      <label>
                          <input type="radio"  name="eit"
                                  id="eit"
                                  [(ngModel)]="review.eit"
                                  value="{{c.value}}">{{c.display}}
                      </label>
                  </div>
              </div>
    </div>
    <div>
      <label for="standards">(2) Does this solicitation identify applicable 508 standards for each ICT deliverable covered by the law?</label>
      <div class="form-group">
                  <label class="sr-only" for="standards">Agency Conformance</label>
                  <div class="radio" *ngFor="let c of choices">
                      <label>
                          <input type="radio"  name="standards"
                                  id="standards"
                                  [(ngModel)]="review.standards"
                                  value="{{c.value}}">{{c.display}}
                      </label>
                  </div>
              </div>
    </div>
    <div>
      <label for="v_conformance">(3) Does this solicitation identify how vendors shall define conformance for each ICT deliverable?</label>
      <div class="form-group">
                  <label class="sr-only" for="v_conformance">Agency Conformance</label>
                  <div class="radio" *ngFor="let c of choices">
                      <label>
                          <input type="radio"  name="v_conformance"
                                  id="v_conformance"
                                  [(ngModel)]="review.v_conformance"
                                  value="{{c.value}}">{{c.display}}
                      </label>
                  </div>
              </div>
    </div>
    <div>
      <label for="evaluation">(4) Does this solicitation include evaluation criteria for 508 conformance?</label>
      <div class="form-group">
                  <label class="sr-only" for="evaluation">Agency Conformance</label>
                  <div class="radio" *ngFor="let c of choices">
                      <label>
                          <input type="radio"  name="evaluation"
                                  id="evaluation"
                                  [(ngModel)]="review.evaluation"
                                  value="{{c.value}}">{{c.display}}
                      </label>
                  </div>
              </div>
    </div>

  </div>
  <div class="form-group">
    <label for="comment">Comment</label>
    <textarea rows="4"
           class="form-control"
           id="comment"
           [(ngModel)]="review.comment"
           name="comment"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
  <a href="/report">Cancel</a>
</form>
</div>
