.tooltip-wrapper {
  position: relative;
  display: inline-block;
  margin-left: 5px;
}

.tooltip-wrapper .tooltip-text {
  visibility: hidden;
  background-color: #1b1b1b;
  color: #fff;
  text-align: left;
  padding: 8px;
  border-radius: 4px;
  position: absolute;
  z-index: 1;
  width: 300px;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 5px;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.5;
}

.tooltip-wrapper:hover .tooltip-text {
  visibility: visible;
}

/* Add arrow */
.tooltip-wrapper .tooltip-text::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #1b1b1b transparent;
}
.tooltip-wrapper {
  vertical-align: super; /* Positions tooltips as superscript */
  font-size: 0.8em; /* Adjust font size if needed */
}

#art {
  background-color: #fa9441;
  outline: 0.25rem solid #2491ff;
  color: #1b1b1b;
  float: left;
  width: auto;
  font-weight: bold;
}

#art:hover {
  background-color: #c05600;
  color: white;
  font-weight: bold;
}

table td {
  padding: 0 20px;
}

