<div class="srt-banner blue">
    <div class="container">
        <h1>Solicitation Review Result Summary</h1>
        <!--<div class="srt-section-title">About Solicitation Review Tool</div>       -->
        <div class="summary-title">Solicitation Review Instructions and Next Steps:</div>
        <ul class="summary-steps">
            <li>
                <div class="summary-steps"><i class="fa fa-check" aria-hidden="true" style="color: #f7f7f7" [ngStyle]="{'opacity' : step1 ? '1' : '0'}"></i>&nbsp;&nbsp;STEP 1 - </div>
                <div class="summary-instr">Open the solicitation and review the documents to determine whether the solicitation is compliant;</div>
            </li>
            <li>
                <div class="summary-steps"><i class="fa fa-check" aria-hidden="true" style="color: #f7f7f7" [ngStyle]="{'opacity' : step2 ? '1' : '0'}"></i>&nbsp;&nbsp;STEP 2 - </div>
                <div class="summary-instr">Click on the “Email POC” button to share the results with the Point of Contact (POC) listed in the solicitation. Edit the proposed email message with any additional feedback to help improve the 508 compliance of the solicitation, click “Send Email”; and</div>
            </li>
            <li>
                <div class="summary-steps"><i class="fa fa-check" aria-hidden="true" style="color: #f7f7f7" [ngStyle]="{'opacity' : step3 ? '1' : '0'}"></i>&nbsp;&nbsp;STEP 3 - </div>
                <div class="summary-instr">Click on the “MAKE SRT SMARTER” tab to fill out a short survey regarding the current solicitation, which will help to improve the accuracy of the prediction.</div>

            </li>
        </ul>
    </div>
</div>
<div class="srt-tabs summary-tab">
    <div class="container">
        <div ng-if="showActivitySelection()" role="navigation" aria-label="step navigation">
            
            <ul class="nopadding summary-floatleft" >
                <li [ngClass]="{'active' : type=='report'}">
                    <a [routerLink]="['/solicitation/report', solicitationID]">STEP 1: VIEW RESULT</a>
                </li>
                <li  [ngClass]="{'active' : type=='email'}">
                    <a [routerLink]="['/solicitation/email', solicitationID]">STEP 2: EMAIL POC</a>
                </li>
                 <li  [ngClass]="{'active' : type=='feedback'}">
                    <a [routerLink]="['/solicitation/feedback', solicitationID]">STEP 3: MAKE SRT SMARTER</a>
                </li>
            </ul>
            <ul class="nopadding summary-floatright">
                <li>
                    <a [routerLink]="['/solicitation/prediction', solicitationID]">Prediction History</a>
                </li>
                <li [ngClass]="{'active' : type=='history'}">
                    <a [routerLink]="['/solicitation/history', solicitationID]">History</a>
                </li>
            </ul>

        </div>
    </div>
</div>

<!-- <div class="container">

    <div class="clearfix summary-content-padding">
        <div class="srt-title-padding">
            <a [routerLink]="['/solicitation/report']" style="font-weight: 500"> < Back to Solicitation Review Results for Section 508 Requirements</a>
        </div>

    </div>
</div> -->
