<div class="undeter-solic-padding">

    <div class="srt-blue undeter-solic-title">
      <h2 class="srt-blue chart">Last 30 Days Excluded Solicitations from SRT Prediction Results (By Category)</h2>
        <sup class="undeter-solic-supfont"
            pTooltip="Other Undetermined' solicitations are solicitations with attachments that are currently failed to be accessed by the system due to various reasons (e.g., security redirect)."
            tooltipPosition="bottom">
            <i tabindex="0" class="fa fa-info-circle info" aria-hidden="true" ></i>
        </sup>
    </div>

    <div class="undeter-solic-div">
      <div class="undeter-solic-canvas">
          <canvas baseChart
                  [data]="pieChartData"
                  [options]="options"
                  [type]="pieChartType">
          </canvas>
      </div>
      <div *ngIf="displayPresolicitation != '0%'" class="undeter-solic-dispaly1" aria-hidden="true">
            {{displayPresolicitation}}
      </div>
      <div *ngIf="displayNonMachineReadable != '0%'" class="undeter-solic-dispaly2" aria-hidden="true">
            {{displayNonMachineReadable}}
      </div>
      <div *ngIf="displayNoDocument != '0%'" class="undeter-solic-dispaly3" aria-hidden="true">
            {{displayNoDocument}}
      </div>
      <div  *ngIf="displayOtherUndetermined != '0%'" class="undeter-solic-dispaly4" aria-hidden="true">
            {{displayOtherUndetermined}}
      </div>
      <div class="visually-hidden">
        <p>Chart data:</p>
        <p>Pre-solicitation {{displayPresolicitation}}</p>
        <p>Non Machine Readable {{displayNonMachineReadable}}</p>
        <p>No Documents {{displayNoDocument}}</p>
        <p>Other Undetermined {{displayOtherUndetermined}}</p>
      </div>
    </div>

</div>
