<div class="row analytic-div">
    <div style="padding: 40px;" class="clearfix">
        
        <div class="col-md-12 nopadding">
            <div style="margin-bottom: 40px; background-color: white;">
                
                <div class="analytic-title">Overview</div>
                <div class="analytic-summary-div">
                    <div class="information-icon"></div>
                    <div class="analytic-summary-title">Number of ICT Solicitations</div>
                    <div class="analytic-summary-result">{{solicitationNumber}}</div>
                </div>
                <div class="analytic-summary-div">
                    <div class="information-icon"></div>
                    <div class="analytic-summary-title">Compliance Rate</div>
                    <div class="analytic-summary-result">{{complianceRate}}%</div>
                </div>
                <div class="analytic-summary-div">
                    <div class="information-icon"></div>
                    <div class="analytic-summary-title">Review Action Taken</div>
                    <div class="analytic-summary-result">{{actionTakenNumber}}</div>
                </div>
                <div class="analytic-summary-div">
                    <div class="information-icon"></div>
                    <div class="analytic-summary-title">Compliance Trend</div>
                    <div class="analytic-summary-result">N/A</div>
                </div>
                <div class="analytic-summary-div">
                    <div class="information-icon"></div>
                    <div class="analytic-summary-title">Conversion Rate</div>
                    <div class="analytic-summary-result">N/A</div>
                </div>
            </div>
        </div>

        
        
        <div class="col-md-12 nopadding" style="background-color: white" >
            
            <div class="analytic-title">Analytics</div>
            
            <div style="padding: 20px;">   
                
                <div style="padding: 0px 20px;" class="clearfix">
                    
                    <div class="col-md-4 nopadding">  
                        <div style="text-transform: uppercase; text-align: center; padding-bottom: 20px">                            Non-Compliance solicitaations by solicitation types
                        </div>

                        <div style="display: block; width: 80%; margin: 0px auto">
                            <canvas baseChart
                                    [data]="doughnutChartData"
                                    [labels]="doughnutChartLabels"
                                    [chartType]="doughnutChartType"
                                    (chartHover)="pieChartHovered($event)"
                                    (chartClick)="pieChartClicked($event)">
                            </canvas>
                        </div>
                    </div>
                    <div class="col-md-1 nopadding"></div>
                    
                    <div class="col-md-7 nopadding">
                        <div style="text-transform: uppercase; text-align: center; padding-bottom: 20px">                       Top 20 Section 508 Compliant Agencies
                        </div>
                        
                         <div style="display: block;">
                            <canvas baseChart
                                [datasets]="barChartData"
                                [labels]="barChartLabels"
                                [options]="barChartOptions"
                                [legend]="barChartLegend"
                                [chartType]="barChartType"
                                (chartHover)="chartHovered($event)"
                                (chartClick)="chartClicked($event)">
                             </canvas>
                        </div>                        
                    </div>
                    
                </div>
            </div>           
           
        </div>
    </div>
</div>
