<main id="content" class="bypass-block-target" tabindex="-1">

<div class="srt-banner blue">
    <div class="container">
        <h1><span>Forget Password</span></h1>
        <div style="font-size: 20px; padding-bottom: 15px;">Forget Password Reset Instructions</div>

        <ul class="summary-steps">
            <li style="padding:5px">
                <div style="display: inline-block; vertical-align: top; width: calc(100% - 80px)">1. Enter the email address you have registered with SRT</div>
            </li>
            <li style="padding:5px">
                <div style="display: inline-block; vertical-align: top; width: calc(100% - 80px)">2. Click on the Reset Password Button, a system generated email will be sent to your email address contains
                    a temporary password</div>
            </li>
            <li style="padding:5px">
                <div style="display: inline-block; vertical-align: top; width: calc(100% - 80px)">3. Use the temporary password to log into the SRT system</div>
            </li>
            <li style="padding:5px">
                <div style="display: inline-block; vertical-align: top; width: calc(100% - 80px)">4. Change your password as diredcted </div>

            </li>
        </ul>



    </div>
</div>

    <div class="container" style="padding-top:50px; padding-left:20px">
      <form [formGroup]="myForm" (ngSubmit)="resetPassword()">
        <div class="form-group">
          <label for="email">Email Address        
          </label>
          <input type="email" id="email" class="form-control" formControlName="email">
          <div *ngIf="myForm.get('email').invalid && (myForm.get('email').dirty || myForm.get('email').touched)" class="validation text-danger">
            <div *ngIf="myForm.get('email').hasError('required')">
              Email is required.
            </div>
          </div>
        </div>


        <button type="submit" class="srt-button" style="margin-top:10px">Reset Password</button>

      </form>
    </div>
  
</main>