<main id="content" class="bypass-block-target">
<app-summary [step1]="step1" [step2]="step2" [step3]="step3" [solicitationID]="solicitationID" [type]="type"></app-summary>
<div class="container">

  <div class="clearfix summary-content-padding">
    <div class="srt-title-padding">
      <a [routerLink]="['/solicitation/report']" style="font-weight: 500" >
        < Back to Solicitation Review Results for Section 508 Requirements</a>
    </div>


    <div class="row">
      <div class="col-lg-10 col-md-12 nopadding">
        <!--<legend style="font-weight: 500">Email Solicitation Point of Contact</legend>-->
        <div class="alert alert-success email-font" *ngIf="emailSent">
          Your email is successfully sent to the designated recipient(s), you will receive an email notification when the solicitation
          is updated on sam.gov.
        </div>
        <div *ngIf="emailSent" class="email-font">
          <a (click)="emailSent = false" id="rebutton">
          Send another email
      </a>
        </div>


        <div class="row">
          <div id="instruction" class="col-lg-9 col-md-12">
            Please copy the email and paste in your agency email to send to the user.
          </div>
          <div  class="col-lg-3 col-md-12" *ngIf="feature_flags.estar && solicitation && solicitation.noticeData.epa_psc_match">
            <select style="margin-top: 1em" (change)="selectLanguage($event.target)">
              <option>IT Language</option>
              <option>EPA Language</option>
            </select>
          </div>
        </div>

        <form [formGroup]="myForm" [ngStyle]="{'display': emailSent ? 'none': 'block'}">
          <div id="emailform">


            <div id="form-div">
              <div class="form-group">
                <label>To:</label>
                {{emailTo}}
                <button (click)="copyText('emailTo')" class="srt-button">
                  Copy Email &nbsp;<i class="fa fa-copy" ></i>
                </button>
              </div>

              <div class="form-group" *ngIf="this.templateToShow == 'IT Language'">
                <label>Subject:</label>
                {{subject}}
                <button (click)="copyText('subject')" class="srt-button">
                  Copy Subject &nbsp;<i class="fa fa-copy" ></i>
                </button>
              </div>

              <div class="form-group" *ngIf="this.templateToShow == 'EPA Language'">
                <label>Subject:</label>
                {{epaSubject}}
                <button (click)="copyText('epaSubject')" class="srt-button">
                  Copy Subject &nbsp;<i class="fa fa-copy" ></i>
                </button>
              </div>

              <div class="form-group">
                <label for="it_message">Message:</label>
                <button (click)="copyText('it_message')" class="srt-button" *ngIf="this.templateToShow == 'IT Language'">
                  Copy Message &nbsp;<i class="fa fa-copy" ></i>
                </button>
                <button (click)="copyText('epa_message')" class="srt-button" *ngIf="this.templateToShow == 'EPA Language'">
                    Copy Message &nbsp;<i class="fa fa-copy" ></i>
                </button>
              </div>

              <div>
                <quill-editor id="it_message"
                              style="min-height: calc(100vh - 585px)"
                              formControlName="it_message" [options]="editorOptions"
                              (keydown)="skiptext($event)"
                              *ngIf="this.templateToShow == 'IT Language'"
                ></quill-editor>
              </div>

              <div>
                <quill-editor id="epa_message"
                              style="min-height: calc(100vh - 585px)"
                              formControlName="epa_message" [options]="editorOptions"
                              (keydown)="skiptext($event)"
                              *ngIf="this.templateToShow == 'EPA Language'"
                ></quill-editor>
              </div>

            </div>
          </div>
        </form>
      </div>

      <div class="col-lg-1 col-md-2 nopadding">
        <!-- send email button
        <div class="srt-button" style="float: left">
        </div>
        -->
      </div>

    </div> <!-- row -->


  </div>
</div>
</main>
