.input {
  width: 100%;
}

.nopadding {
    margin: 0px !important;
    padding: 0px !important;
}

input.form-control {
    font-weight: 500;
    display: inline-block;
    width: calc(100% - 70px);
}

label {
    width: 65px;
}

.ql-toolbar.ql-snow {
    display: none !important;
}


.email-font{
    font-weight: 500
}

/*.fr-toolbar.fr-desktop.fr-top.fr-basic.fr-sticky-off {
    display: none !important
}*/

#rebutton{
    font-size: 16px;
    cursor: pointer;
    float: right
}
#emailform{
    font-weight: 500;
    display: inline-block;
    width: calc(100% - 170px);
    vertical-align: top
}
#ebutton{
    display: inline-block;
    width: 150px;
    vertical-align: top;
    float: right
}

.summary-content-padding{
  padding: 30px 20px
}
