<main id="content" class="bypass-block-target">
<app-summary [step1]="step1" [step2]="step2" [step3]="step3" [solicitationID]="solicitationID" [type]="type"></app-summary>
<div class="container">

  <div class="clearfix summary-content-padding">
    <div class="srt-title-padding">
      <a [routerLink]="['/solicitation/report']" style="font-weight: 500">
        < Back to Solicitation Review Results for Section 508 Requirements</a>
    </div>




    <div class="col-md-12 nopadding">
      <!--<legend style="font-weight: 500">Email Solicitation Point of Contact</legend>-->
      <div class="alert alert-success email-font" *ngIf="emailSent">
        Your email is successfully sent to the designated recipient(s), you will receive an email notification when the solicitation
        is updated on FedBizOpps.
      </div>
      <div *ngIf="emailSent" class="email-font">
        <a (click)="emailSent = false" id="rebutton">
        Send another email
    </a>
      </div>


      <form [formGroup]="myForm" (ngSubmit)="emailContact()" [ngStyle]="{'display': emailSent ? 'none': 'block'}">
        <div id="emailform">

          <div id="instruction">
            This page contains an email template you can use when contacting the POC for this solicitation.
          </div>

          <div id="form-div">
            <div class="form-group">
              <label>To:</label>
              {{emailTo}}
            </div>
            <div class="form-group" >
              <label>Subject:</label>
              {{subject}}
            </div>
            <div class="form-group" style="padding-bottom: 20px" >
              <label for="message" style="padding-bottom: 10px">Message:</label>
              <quill-editor id="maessage" style="min-height: calc(100vh - 585px)" formControlName="message" [options]="editorOptions" (keydown)="skiptext($event)"></quill-editor>
            </div>

          </div>
        </div>
      </form>


    </div>
  </div>
</div>
</main>
