.input {
  width: 100%;
}

.no-padding {
    margin: 0 !important;
    padding: 0 !important;
}

input.form-control {
    font-weight: 500;
    display: inline-block;
    width: calc(100% - 70px);
}

label {
    width: 65px;
    margin-bottom: 5px;
    display: inline-block;
    font-weight: 700;
}

.ql-toolbar.ql-snow {
    display: none !important;
}


.email-font{
    font-weight: 500
}

/*.fr-toolbar.fr-desktop.fr-top.fr-basic.fr-sticky-off {
    display: none !important
}*/

#rebutton{
    font-size: 16px;
    cursor: pointer;
    float: right
}
#emailform{
    font-weight: 500;
    display: inline-block;
    width: calc(100% - 25px);
    vertical-align: top
}
#ebutton{
    display: inline-block;
    width: 150px;
    vertical-align: top;
    float: right
}

.summary-content-padding{
  padding: 30px 20px
}

#instruction{
  font-weight: 600;
  font-size: 16px;
  padding: 20px;
  border: 1px solid #dadada
}

#form-div{
  padding-top: 20px;
}

div.form-group {
  padding-bottom: 10px
}

.form-group .srt-button {
  top: -10px;
  float: right;
  display: inline;
  height: 2.5em;
  width: 8.5em;
}

.form-group .srt-button i {
  vertical-align: middle;
}
