/* Base styles */
.input {
  width: 100%;
}

.no-padding {
  margin: 0 !important;
  padding: 0 !important;
}

.padding-0 {
  padding: 0 !important;
}

.grid-gap-0 {
  gap: 0 !important;
}

/* Form elements */
input.form-control {
  font-weight: 500;
  display: inline-block;
  width: calc(100% - 70px);
}

label {
  width: 65px;
  margin-bottom: 5px;
  display: inline-block;
  font-weight: 700;
}

.form-group {
  padding-bottom: 10px;
}

/* Editor styles */
.ql-toolbar.ql-snow {
  display: none !important;
}

/* Custom components */
.email-font {
  font-weight: 500;
}

#rebutton {
  font-size: 16px;
  cursor: pointer;
  float: right;
}

#emailform {
  font-weight: 500;
  display: inline-block;
  width: calc(100% - 25px);
  vertical-align: top;
}

#ebutton {
  display: inline-block;
  width: 150px;
  vertical-align: top;
  float: right;
}

.summary-content-padding {
  padding: 30px 20px;
}

#instruction {
  font-weight: 600;
  font-size: 16px;
  padding: 20px;
  border: 1px solid #dadada;
}

#form-div {
  padding-top: 20px;
}

/* Button styles */
.form-group .srt-button {
  top: -10px;
  float: right;
  display: inline-flex;  /* Changed to inline-flex */
  align-items: center;   /* Center items vertically */
  justify-content: center; /* Center items horizontally */
  height: 2.5em;
  width: 8.5em;
  white-space: nowrap;   /* Prevent text wrapping */
}

.form-group .srt-button i {
  margin-left: 4px;      /* Add small space between text and icon */
  line-height: 1;        /* Adjust line height to match text */
}


/* USWDS overrides */
.usa-form {
  max-width: none;
}

.usa-alert {
  margin-top: 0;
  margin-bottom: 1rem;
}

.usa-alert__text {
  font-weight: 500;
}

.usa-button.srt-button {
  background-color: #205493;
  font-size: 14px;
  padding: 6px 15px;
  text-align: center;
}

.usa-button.srt-button:hover {
  background-color: #112e51;
}

/* Make "Copy" buttons wider */
.form-group .srt-button {
  top: -10px;
  float: right;
  display: inline-flex;  /* Maintain inline-flex for alignment */
  align-items: center;   /* Center items vertically */
  justify-content: center; /* Center items horizontally */
  height: 2.5rem;
  width: 10rem; /* Adjust width to make buttons wider */
  white-space: nowrap;   /* Prevent text wrapping */
}

.form-group .srt-button i {
  margin-left: 0.25rem; /* Spacing between text and icon */
  line-height: 1;
}

/* Button base styles */
.usa-button.srt-button {
  background-color: #205493;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  text-align: center;
}

.usa-button.srt-button:hover {
  background-color: #112e51;
}