<main id="content" class="bypass-block-target">
  <section class="usa-section">
    <div class="usa-grid">
      <!-- Added Heading -->
      <h2 class="usa-heading">User Information Form</h2>

      <form [formGroup]="masqForm" (ngSubmit)="onSubmit(masqForm)">
        <div class="usa-form-group usa-grid">
          <div class="usa-width-one-sixth">
            <label for="agency" class="usa-label text-right">Agency:</label>
          </div>
          <div class="usa-width-five-sixths">
            <input class="usa-input" id="agency" formControlName="agency" />
          </div>
        </div>

        <div class="usa-form-group usa-grid" style="padding-top: 10px;">
          <div class="usa-width-one-sixth">
            <label for="role" class="usa-label text-right">User type:</label>
          </div>
          <div class="usa-width-five-sixths">
            <select class="usa-select" id="role" formControlName="role">
              <option value="Administrator">GSA Admin</option>
              <option value="SRT Program Manager">SRT Admin</option>
              <option value="Section 508 Coordinator">Section 508 Coordinator</option>
              <option value="CO / COR">CO / COR</option>
              <option value="Executive User">Executive User</option>
            </select>
          </div>
        </div>

        <div class="usa-grid" style="padding-top: 10px;">
          <div class="usa-width-one-sixth"></div>
          <div class="usa-width-five-sixths">
            <button type="submit" class="usa-button">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </section>
</main>