<div class="chart-container">

        <div class="srt-blue circle-chart">
          <h2 class="srt-blue chart">{{title}}</h2>
            <sup class="supfont"
                [tooltip]="donutChart" tooltipPlacement="bottom">
                <i tabindex="0" class="fa fa-info-circle info" aria-hidden="true" ></i>
            </sup>
            <tooltip-content #donutChart [animation]="true" aria-hidden="true">
                <div>{{componentTooltip}}</div>
            </tooltip-content>
        </div>

        <div class="precposi">
            <div id="{{id}}" class="percentage" aria-hidden="true">
                {{percentage}}%
            </div>
            <div class="per-position">
                <canvas baseChart
                        [data]="doughnutChartData"
                        [labels]="doughnutChartLabels"
                        [options]="options"
                        [colors]="colorsOverride"
                        [chartType]="doughnutChartType">
                </canvas>
            </div>
        </div>

        <div class="per-result">
            <span class="chart-span">{{numerator}}</span> out of
            <span class="chart-span">{{denominator}} </span>
            <span [innerHTML]="note"></span>
            <span class="visually-hidden" [innerHTML]="readerSupplement"></span>
        </div>

    </div>
