<div class="chart-container">

    <div class="srt-blue circle-chart">
        <h2 class="srt-blue chart">{{title}}
            <span class="tooltip-container">
                <sup class="supfont tooltip-trigger" tabindex="0" role="button" [attr.aria-label]="componentTooltip"
                    (focus)="showTooltip = true" (blur)="showTooltip = false"
                    (keydown.enter)="showTooltip = !showTooltip"
                    (keydown.space)="showTooltip = !showTooltip; $event.preventDefault()">
                    <i class="fa fa-info-circle info" aria-hidden="true"></i>
                </sup>
                <span class="tooltip-text" [class.show]="showTooltip">
                    {{componentTooltip}}
                </span>
            </span>
        </h2>
    </div>

    <div class="precposi">
        <div id="{{id}}" class="percentage" aria-hidden="true">
            {{percentage}}%
        </div>
        <div class="per-position">
            <canvas baseChart [data]="doughnutChartData" [labels]="doughnutChartLabels" [options]="options"
                [type]="doughnutChartType">
            </canvas>
        </div>
    </div>

    <div class="per-result">
        <span class="chart-span">{{numerator}}</span> out of
        <span class="chart-span">{{denominator}} </span>
        <span [innerHTML]="note"></span>
        <span class="visually-hidden" [innerHTML]="readerSupplement"></span>
    </div>

</div>