<!--<div style="width: 100%; height: 200px; margin-top: 20px; 
            background-image: url(https://s3.amazonaws.com/srt.bucket/assets/user-login.png); 
            background-repeat: no-repeat; 
            background-size: contain; 
            background-position: left">
</div>-->

<div class="srt-blue user-login-title">
    SRT User Login Activities <br /> &nbsp;
    <!--<sup style="font-size: 20px;" 
        [tooltip]="Scanned" tooltipPlacement="bottom">
        <i class="fa fa-info-circle info" aria-hidden="true" ></i>
    </sup>  
    <tooltip-content #Scanned [animation]="true">
        <div></div>
    </tooltip-content> -->
</div>  


<div class="user-login-padding">
    <div class="user-login-user"># Users</div>
    <div class="user-login-data">Date</div>
    <div class="user-login-content">
        <span class="user-login-font">{{currentLoginUsers}}</span> users on the site now
    </div>
    <div class="user-login-canvas"> 
        <canvas baseChart
                [datasets]="lineChartData"
                [labels]="lineChartLabels"
                [options]="options"
                [colors]="colorsOverride"
                [chartType]="lineChartType"></canvas>
    </div>
</div>