 <img src="https://s3.amazonaws.com/srt.bucket/assets/password.png" alt=""> 

<!-- <div class="srt-banner blue">
    <div class="container">
        <h1><span>Reset Password</span></h1>
        <div style="font-size: 20px; padding-bottom: 15px;">Password set Instructions and Next Steps:</div>

        <ul class="summary-steps">
            <li style="padding:5px">
                <div style="display: inline-block; vertical-align: top"><i aria-hidden="true" class="fa fa-check" style="color: rgb(247, 247, 247); opacity: 1;" ng-reflect-ng-style="[object Object]"></i>&nbsp;&nbsp;STEP 1 - </div>
                <div style="display: inline-block; vertical-align: top; width: calc(100% - 80px)">Be at least 8 characters</div>
            </li>
            <li style="padding:5px">
                <div style="display: inline-block; vertical-align: top"><i aria-hidden="true" class="fa fa-check" style="color: rgb(247, 247, 247); opacity: 0;" ng-reflect-ng-style="[object Object]"></i>&nbsp;&nbsp;STEP 2 - </div>
                <div style="display: inline-block; vertical-align: top; width: calc(100% - 80px)">Have at least 1 upper case character</div>
            </li>
            <li style="padding:5px">
                <div style="display: inline-block; vertical-align: top"><i aria-hidden="true" class="fa fa-check" style="color: rgb(247, 247, 247); opacity: 0;" ng-reflect-ng-style="[object Object]"></i>&nbsp;&nbsp;STEP 3 - </div>
                <div style="display: inline-block; vertical-align: top; width: calc(100% - 80px)">Have at least 1 numerical character</div>
                
            </li>
            <li style="padding:5px">
                <div style="display: inline-block; vertical-align: top"><i aria-hidden="true" class="fa fa-check" style="color: rgb(247, 247, 247); opacity: 0;" ng-reflect-ng-style="[object Object]"></i>&nbsp;&nbsp;STEP 3 - </div>
                <div style="display: inline-block; vertical-align: top; width: calc(100% - 80px)">Have at least 1 symbols</div>
                
            </li>
        </ul>


        
    </div>
</div>



<div class="container" style="padding:50px 0px 0px 0px;"> 
    
  

    
    <form [formGroup]="form" class="form-horizontal" (ngSubmit)="reset()"> 
    

        <div class="form-group padding">
          <label for="curPsw" class="col-sm-2 text">Current password
               <span style="color: #BE3430; padding-left: 5px;"><sup>*</sup></span>
          </label>
            <div class="col-sm-10">
              <input formControlName="oldPassword" name="oldPassword" id="oldPassword" type="{{pwshow? 'text':'password'}}" class="form-control"  placeholder="current password">
              <div *ngIf="oldPassword.touched && oldPassword.invalid" class="alert alert-danger">
                
                <div *ngIf="oldPassword.errors.required">
                        current password is required.
                  </div>
                      
                  <div *ngIf="oldPassword.errors.invalidOldPassword">
                        current password is invalid.
                  </div>
                   
              </div>

                  
            </div>
        </div>


        <div class="form-group padding">
          <label for="newPsw" class="col-sm-2 text">New password
              <span style="color: #BE3430; padding-left: 5px;"><sup>*</sup></span>
          </label>
            <div class="col-sm-10">
              <input formControlName="newPassword" id="newPassword" type="{{pwshow? 'text':'password'}}" class="form-control"  placeholder="new password">
              
              <div *ngIf="newPassword.touched && newPassword.invalid" class="alert alert-danger">
                <div *ngIf="newPassword.errors.required">  Password is required</div>
                  <div *ngIf="newPassword.errors.minlength">
                         Name must be at least 4 characters long.
                 </div>
              
            

              
                
              </div>

                
              
            </div>
        </div>


        <div class="form-group padding">
          <label for="confPsw" class="col-sm-2 text">Confirm password
              <span style="color: #BE3430; padding-left: 5px;"><sup>*</sup></span>
          </label>
              <div class="col-sm-10">
                <input formControlName="confirmPassword" name ="confirmPassword" id="confirmPassword" type="{{pwshow? 'text':'password'}}" class="form-control"  placeholder="confirm new pasword">
                <div *ngIf="confirmPassword.touched && confirmPassword.invalid" class="alert alert-danger">
                <div *ngIf="confirmPassword.errors.required">Confirm password is required.</div>
                </div>
                <div *ngIf="confirmPassword.valid && form.invalid && form.errors.passwordsShouldMatch" class="alert alert-danger">
                 Passwords do not match.
                </div>

            </div>
            
        </div>

    
    
     <div class="form-group padding">
       
          <a style="float:right; padding:0px 20px 0px 0px; cursor: pointer;" herf="#"  (click) = "showHidePsw()">Show the typing</a>
        
    </div>
        <div style="padding:0px 20px 0px 0px">
         <button type="submit" class="srt-button">Reset password</button>
        </div>
       
    </form>
</div>  -->
