.no-padding {
    padding: 0px !important;
    margin: 0px !important;
}

.srt-text-section {
    width: 100%; text-align: center; height: 240px
}

.srt-text-section-title {
    font-size: 24px; padding: 10px; border-bottom: 1px solid #dadada; font-weight: 500;
}

.srt-button {
    font-size: 20px; padding: 10px; border-bottom: 1px solid #dadada
}

.center-it img{
    margin: 0 auto;
}

#gsa {
	max-width: 100%;
	max-height: 200px;
	float: left;
}

.container {
    padding: 0 16px;
}

.title {
    color: grey;
    font-size: 18px;
}

button:hover, a:hover {
    opacity: 0.7;
}

body{font-family:'Open Sans Condensed',sans-serif;font-size:18px}

.back-to a{color:#FFF; text-decoration:none}

.thumbnail>img{width:100%; height: 200px; display:block}
.thumbnail h3{font-size:26px}

.thumbnail p{padding-top:8px; font-size:20px}
.thumbnail .btn{align-self: center; position: absolute; bottom: 30px; margin:0; padding: 5px 3px; border-radius:0; box-shadow:0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12); font-size:20px}



.srt-1-1:before {
    content: "";
    display: block;
    padding-top: 100%;
}

.srt-9-20:before {
    content: "";
    display: block;
    padding-top: 45%;
}

.srt-11-20:before {
    content: "";
    display: block;
    padding-top: 55%;
}

.srt-9-20,
.srt-11-20,
.srt-1-1 {
    position: relative;
    width: 100%;
    overflow: hidden;
    transition: all 150ms ease-in-out;
}

.srt-9-20 > div,
.srt-11-20 > div,
.srt-1-1 > div {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.srt-9-20 > div > div,
.srt-11-20 > div > div,
.srt-1-1 > div > div {
    height: 100%;
    width: 100%;
}

.srt-main-box {
    border: 1px solid #dadada;
    transition: all 150ms ease-in-out;
    cursor: pointer;
}

.srt-main-box:hover {
    border: 1px solid #78aeee;
}

.srt-1-1:hover {
    box-shadow:0 6px 10px 0 rgba(120,174,238, 0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px -1px rgba(120,174,238, 0.3);
}

.srt-main-box h3 {
    margin-top: 0px;
}

.srt-main-box p {
    margin-top: 20px;
    font-size: 18px;
    padding: 0px 30px;
}

.srt-home-head{
    background-image: url('/assets/home-page-cover.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            height: 350px;
            width: 100%;
            opacity: 0.85;
            position: relative;
}
.srt-head-position{
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
}

.srt-head-text{
    text-align: right;
    display: table;
    height: 100%;
    width: 100%
}
.srt-head-display{
    display: table-cell;
    vertical-align: middle;

}
.srt-head-padding{
    padding: 0px 60px;
    max-width: 1000px;
    float: right
}
.srt-main-title{
    font-weight: 600;
    border-bottom: 0.5px solid #112e51;
    padding-bottom: 10px
}
.srt-text-padding{
    padding-left: 100px;
    padding-top: 20px
}
.srt-margin-bot{
    margin-bottom: 30px
}
.srt-block-padding{
    text-align: center;
    padding: 0px 25px
}

.srt-icon img {
  max-width:100%;
  max-height:100%;
}

.srt-icon{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;
    text-align: center;
}

.srt-icon-padding{
    padding: 20px;
}







.ribbon {
  position: absolute;
  left: -5px; top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 75px; height: 75px;
  text-align: right;
}
.ribbon span {
  font-size: 10px;
  font-weight: bold;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  width: 100px;
  display: block;
  background: #79A70A;
  background: linear-gradient(#0B286D 0%, #0B286D 100%);
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px; left: -21px;
}
.ribbon span::before {
  content: "";
  position: absolute; left: 0px; top: 100%;
  z-index: -1;
  /*border-left: 3px solid #0B286D;*/
  /*border-right: 3px solid transparent;*/
  /*border-bottom: 3px solid transparent;*/
  /*border-top: 3px solid #0B286D;*/
}
.ribbon span::after {
  content: "";
  position: absolute; right: 0px; top: 100%;
  z-index: -1;
  /*border-left: 3px solid transparent;*/
  /*border-right: 3px solid #0B286D;*/
  /*border-bottom: 3px solid transparent;*/
  /*border-top: 3px solid #0B286D;*/
}
