<!-- /home -->

<main id="content" class="bypass-block-target">

    <div class="srt-homehead">

      <div class="srt-headposition">
        <div class="srt-headtext">
          <div class="srt-headdisplay">
            <div class="srt-headpadding">
              <h1 class="srt-blue srt-maintitle">Solicitation Review Tool</h1>
              <div style="font-size: 24px; font-weight:500;" class="srt-blue srt-textpadding">
                The Solicitation Review Tool (SRT) is provided to help agencies evaluate the overall solicitation compliance with accessibility,
                cyber security, and other regulations and requirements.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
        <div style="padding: 60px 40px;">
            <div class="row">

              <!-- Review/Manage Workload -->
              <a [routerLink]="['/solicitation/report']" aria-labelledby="h3rmw" class="orange">
                <div class="col-md-4 col-sm-6 srt-marginbot">
                      <div class="srt-1-1">
                          <div>
                              <div class="srt-main-box" >
                                  <!-- image -->
                                  <div class="srt-9-20">
                                      <div>
                                          <div class="srt-iconpadding">
                                              <div class="srt-icon">
                                                <img alt="Review/Manage Workload Icon" src='/assets/review-manage-workflow.png'/>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                                  <!-- description -->
                                  <div class="srt-11-20">
                                      <div>
                                          <div class="srt-block-padding">
                                              <h2 style="color:black" id="h3rmw">Review/Manage Workload</h2>
                                              <p style="color:black">Access and manage solicitation review results for your agency</p>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                </div>
              </a>

              <!-- View Analytic -->
              <a [routerLink]="['/analytics']" aria-labelledby="h3va">
                <div class="col-md-4 col-sm-6 srt-marginbot">
                    <div class="srt-1-1">
                      <div class="ribbon" *ngIf="isGSAAdmin==false"><span>Coming soon</span></div>
                      <div>
                            <div class="srt-main-box" >
                                <!-- image -->
                                <div class="srt-9-20">
                                    <div>
                                        <div class="srt-iconpadding">
                                            <div class="srt-icon">
                                              <img alt='view analytics icon' class="button-icon" src="/assets/view-analytics.png"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- description -->
                                <div class="srt-11-20">
                                    <div>
                                        <div class="srt-block-padding">
                                            <h2 style="color:black" id="h3va">View Analytics</h2>
                                            <p style="color:black">Visualize trend and discover insights from the analytics</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
              </a>

              <!-- Manage SRT Access Requests -->
              <a [routerLink]="['/admin']" aria-labelledby="h3msar">
                <div class="col-md-4 col-sm-6 srt-marginbot" *ngIf="isGSAAdmin">
                    <div class="srt-1-1">
                        <div>
                            <div class="srt-main-box">
                                <!-- image -->
                                <div class="srt-9-20">
                                    <div>
                                        <div class="srt-iconpadding">
                                            <div class="srt-icon">
                                              <img alt='Manage SRT Access Requests Icon' src='/assets/manage-srt-access-requests.png' />

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- description -->
                                <div class="srt-11-20">
                                    <div>
                                        <div class="srt-block-padding">
                                            <h2 style="color:black" id="h3msar">Manage SRT Access Requests</h2>
                                            <p style="color:black"> The Administrator manages new SRT sign up requests and current users settings</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
              </a>

              <!-- Get Additional Resourses -->
              <a href="https://app.buyaccessible.gov/" aria-labelledby="h3gar">
                <div class="col-md-4 col-sm-6 srt-marginbot" >
                    <div class="srt-1-1">
                        <div>
                            <div class="srt-main-box" >
                                <!-- image -->
                                <div class="srt-9-20">
                                    <div>
                                        <div class="srt-iconpadding">
                                            <div class="srt-icon">
                                              <img alt="Get Additional Resources Icon" src="/assets/get-additional-resourses.png"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- description -->
                                <div class="srt-11-20">
                                    <div>
                                        <div class="srt-block-padding">
                                            <h2 style="color:black" id="h3gar">Get Additional Resources</h2>
                                            <p style="color:black">Need help with Accessibility requirements? Accessibility Requirements Tool can assist you with that</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
              </a>

              <!-- FAQ -->
              <a [routerLink]="['/help/faq']" aria-labelledby="h3faq">
                <div class="col-md-4 col-sm-6 srt-marginbot">
                    <div class="srt-1-1">
                        <div>
                            <div class="srt-main-box">
                                <!-- image -->
                                <div class="srt-9-20">
                                    <div>
                                        <div class="srt-iconpadding">
                                            <div class="srt-icon">
                                              <img alt="FAQ icon" src="/assets/faq.png"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- description -->
                                <div class="srt-11-20">
                                    <div>
                                        <div class="srt-block-padding">
                                            <h2 style="color:black" id="h3faq">FAQ</h2>
                                            <p style="color:black">Review Frequently Asked Questions and learn more about SRT</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
              </a>

            </div>
        </div>
    </div>
  </main>
