<!-- /home -->

<main id="content" class="bypass-block-target">
<!--
  <div class="srt-home-head">

    <div class="srt-head-position">
      <div class="srt-head-text">
        <div class="srt-head-display">
          <div class="srt-head-padding">
            <h1 class="srt-black srt-main-title">Solicitation Review Tool</h1>
            <div style="font-size: 24px; font-weight:500;" class="srt-black srt-text-padding">
              The Solicitation Review Tool (SRT) is provided to help agencies evaluate the overall solicitation
              compliance with accessibility,
              cyber security, and other regulations and requirements.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
-->
  
<section class="usa-hero" aria-label="Introduction">
  <div class="grid-container">
    <div class="usa-hero__callout">
      <h1 class="usa-hero__heading">
        Solicitation Review Tool
      </h1>
      <p class="usa-hero__overlay">
        The Solicitation Review Tool (SRT) is provided to help agencies evaluate the overall solicitation compliance with accessibility, cyber security, and other regulations and requirements.
      </p>
    </div>
  </div>
</section>
<section class="usa-section">
  <div class="grid-container" #gridContainer *ngIf="showGrid">
    <div class="grid-row grid-gap">

      <!-- Review/Manage Workload -->
      <div class="tablet:grid-col-4 mobile-lg:grid-col-6">
        <div class="usa-card">
          <a
            [routerLink]="['/solicitation/report']"
            aria-labelledby="h3rmw"
            class="usa-card__container usa-card__container--clickable"
            (click)="onClickTiles('solicitation_tile', 'Solicitation Tile')"
          >
            <div class="usa-card__media">
              <img alt="Manage/Review Workload Icon" src="/assets/review-manage-workflow.png" />
            </div>
            <div class="usa-card__header">
              <h2 class="usa-card__heading" id="h3rmw">Manage/Review Solicitations</h2>
            </div>
            <div class="usa-card__body">
              <p>Access and manage solicitation review results for your agency.</p>
            </div>
          </a>
        </div>
      </div>

      <!-- View Analytics (Admin Only) -->
      <div class="tablet:grid-col-4 mobile-lg:grid-col-6" *ngIf="isGSAAdmin">
        <div class="usa-card">
          <a
            [routerLink]="['/analytics']"
            aria-labelledby="h3va"
            class="usa-card__container usa-card__container--clickable"
            (click)="onClickTiles('analytics_tile', 'Analytics Tile')"
          >
            <div class="usa-card__media">
              <img alt="View Analytics Icon" src="/assets/view-analytics.png" />
            </div>
            <div class="usa-card__header">
              <h2 class="usa-card__heading" id="h3va">View Analytics</h2>
            </div>
            <div class="usa-card__body">
              <p>Visualize trends and discover insights from the analytics.</p>
            </div>
          </a>
        </div>
      </div>

      <!-- Manage SRT Access Requests (Admin Only) -->
      <div class="tablet:grid-col-4 mobile-lg:grid-col-6" *ngIf="isGSAAdmin">
        <div class="usa-card">
          <a
            [routerLink]="['/admin']"
            aria-labelledby="h3-admin-label"
            class="usa-card__container usa-card__container--clickable"
            (click)="onClickTiles('admin_tile', 'Admin Tile')"
          >
            <div class="usa-card__media">
              <img alt="Manage SRT Access Requests Icon" src="/assets/manage-srt-access-requests.png" />
            </div>
            <div class="usa-card__header">
              <h2 class="usa-card__heading" id="h3-admin-label">Administration</h2>
            </div>
            <div class="usa-card__body">
              <p>View reports on user statistics, activities, and feedback.</p>
            </div>
          </a>
        </div>
      </div>

      <!-- Get Additional Resources -->
      <div class="tablet:grid-col-4 mobile-lg:grid-col-6">
        <div class="usa-card">
          <a
            href="https://app.buyaccessible.gov/"
            target="_blank"
            rel="noopener noreferrer"
            aria-labelledby="h3gar"
            class="usa-card__container usa-card__container--clickable"
            (click)="onClickTiles('art_tile', 'ART Tile')"
          >
            <div class="usa-card__media">
              <img alt="Get Additional Resources Icon" src="/assets/get-additional-resources.png" />
            </div>
            <div class="usa-card__header">
              <h2 class="usa-card__heading" id="h3gar">Get Additional Resources</h2>
            </div>
            <div class="usa-card__body">
              <p>
                Need help with Accessibility requirements? Accessibility Requirements Tool can assist
                you with that.
              </p>
            </div>
          </a>
        </div>
      </div>

      <!-- Contact Us -->
      <div class="tablet:grid-col-4 mobile-lg:grid-col-6">
        <div class="usa-card">
          <a
            [routerLink]="['/help/contactus']"
            aria-labelledby="h3cus"
            class="usa-card__container usa-card__container--clickable"
            (click)="onClickTiles('contact_tile', 'Contact Tile')"
          >
            <div class="usa-card__media">
              <img alt="Contact Us Icon" src="/assets/contact-us.png" />
            </div>
            <div class="usa-card__header">
              <h2 class="usa-card__heading" id="h3cus">Contact Us</h2>
            </div>
            <div class="usa-card__body">
              <p>View contact information for the Solicitation Review Tool.</p>
            </div>
          </a>
        </div>
      </div>

      <!-- FAQ -->
      <div class="tablet:grid-col-4 mobile-lg:grid-col-6">
        <div class="usa-card">
          <a
            [routerLink]="['/help/faq']"
            aria-labelledby="h3faq"
            class="usa-card__container usa-card__container--clickable"
            (click)="onClickTiles('faq_tile', 'FAQ Tile')"
          >
            <div class="usa-card__media">
              <img alt="FAQ Icon" src="/assets/faq.png" />
            </div>
            <div class="usa-card__header">
              <h2 class="usa-card__heading" id="h3faq">FAQ</h2>
            </div>
            <div class="usa-card__body">
              <p>Review Frequently Asked Questions and learn more about SRT.</p>
            </div>
          </a>
        </div>
      </div>

    </div>
  </div>
</section>
</main>