/* You can add global styles to this file, and also import other style files */

@import '../node_modules/primeng/resources/primeng.min.css';
@import '../node_modules/primeng/resources/themes/nova-light/theme.css';
@import '../node_modules/primeicons/primeicons.css';

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,500,600,700);
body {
  font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-weight: 300;
}

html {
  overflow: scroll;
}



/* button */

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

/* title */

.srt-page-title {
    font-size: 24px;
    font-weight: 600;
    line-height: 24px;
}

.srt-section-title {
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
}

.srt-blue {
    color: #112e51;
}

.srt-blue-border {
    border-color: #112e51;
}

.srt-title-padding {
    padding-bottom: 20px;
}

.srt-color {
    color: #2C81C0;
}

/* button */

.sticky-button-bottom {
    position: sticky;
    bottom: 20px;
}

button.srt-button {
    width: 150px;
    background-color: #337ab7;
}

.srt-button {
    background-color: #337ab7;
    border-color: #2e6da4;
    border-radius: 5px;
    border: none;
    color: #fff;
    cursor: pointer;
    display: table;
    float: right;
    font-weight: 500;
    font-size: 16px;
    height: 35px;
    text-align: center;
    transition: all 100ms linear;
    width: 100px;
}

.srt-button > div {
    display: table-cell;
    vertical-align: middle;
}

.srt-button:hover {
    box-shadow:0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px -1px rgba(0,0,0,0.3);
}

/* shadow */


.box-shadow {
    box-shadow:0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px -1px rgba(0,0,0,0.3);
}

.box-shadow-hover:hover {
    box-shadow:0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px -1px rgba(0,0,0,0.3);
}

/* banner */

.srt-banner.blue {
    margin: 0;
    background-color: #205493;
    padding: 40px;
    color: white;
    height: 300px;
    box-shadow:0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px -1px rgba(0,0,0,0.3);
}

.srt-banner h1 {
    margin: 0;
    padding-bottom: 20px;
}

.srt-banner p {
    font-size: 16px;
}


/* Override bootstrap tooptip style */

.tooltip-inner {
    max-width: 200px;
    padding: 3px 8px;
    color: black !important;
    text-align: left;
    background-color: white !important;
    border-radius: 4px;
    border: 1px solid #dadada;
}

#analyticTitle .tooltip.in,
#overview .tooltip.in,
.tooltip.in {
    opacity: 1 !important;;
}

#analyticTitle .tooltip-inner {
    max-width: 400px;
    padding: 3px 8px;
    color: black !important;
    text-align: left;
    background-color: white !important;
    border-radius: 4px;
    border: 1px solid #dadada;
}

#overview .tooltip-inner {
    max-width: 300px;
    padding: 3px 8px;
    color: black !important;
    text-align: left;
    background-color: white !important;
    border-radius: 4px;
    border: 1px solid #dadada;
}



.tooltip-arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}

.tooltip.right .tooltip-arrow {
    border-right-color: white;
}

.tooltip.bottom .tooltip-arrow {
    border-bottom-color: white;
}

.info {
    color: #333;
    font-size: 16px !important
}

/* autocomplete  ng2-completer package*/


.completer-input  {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.completer-dropdown-holder {
    width: 100%;
    position: relative;
}

.completer-dropdown {
    border-color: #ececec;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    width: 100% !important;
    padding: 3px 5px;
    cursor: pointer;
    z-index: 9999;
    position: absolute;
    margin-top: 0 !important;
    background-color: #ffffff;
    max-height: 200px !important;
    overflow: auto !important;
}

.completer-row {
    padding: 5px;
    color: #000000;
    margin-bottom: 4px;
    clear: both;
    display: inline-block;
    width: 100% !important;;
}

.completer-selected-row {
    background-color: #f1f1f1 !important;
    color: #0071bc !important;
    font-weight: 700 !important;
}

.match {
    color: #BE3430 !important;
}



/* dropdown */
.dropdown-toggle {
    cursor: pointer;
}

.srt.dropdown-menu {
    padding: 0;
}

.srt.dropdown-menu .dropdown-item {
    width: 100%;
    padding: 5px 15px;
    text-align: center;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    color: #2C81C0;
}

.srt.dropdown-menu .dropdown-item.remove {
    color: #BE3430;
}


.srt.dropdown-menu .dropdown-item:hover {
    font-weight: 600;
}

.srt.dropdown-menu .dropdown-divider {
    height: 1px;
    background-color: #dadada;
}

.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}


@media (max-width: 992px)
{
    .row-eq-height {
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
    }
}

/* FAQ Page */



.color span{
    color: rgb(44, 129, 192)
}

.background div{
    background-image: url(https://s3.amazonaws.com/srt.bucket/assets/SRT_DataScience.jpg);
   height: 500px; background-repeat: no-repeat; background-size: contain; background-position: center;

}

.padding ul {
    padding: 0
}


.olstyle ol{
    list-style-type: lower-roman; padding: 0 0 20px 0;
}



/* auth Page */
.input-invalid{
    color: #BE3430;
    font-weight: bold; float: right
}

.valid-star{
    color: #BE3430;
    padding-left: 5px;
}




/* nav skip*/
/*
 * Class for elements that are only visible to the screen reader.
 */
 .visually-hidden ,
 .sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
  -webkit-clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

/*
 * For `.visually-hidden` elements that should be visible when it gains focus.
 */
.visible-when-focused {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
  -webkit-clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}
.visible-when-focused:focus {
  border: inherit;
  clip: inherit;
  clip-path: inherit;
  -webkit-clip-path: auto;
  height: inherit;
  margin: inherit;
  overflow: inherit;
  padding: inherit;
  position: inherit;
  width: inherit;
  white-space: inherit;
}

/*
 * Style for "Skip Navigation" type links.  Should have an href linked to
 * a `.bypass-block-target` element.
 */
.bypass-block-link {
	position: absolute;
	text-decoration: none;
	background: #ffffcc;
	padding: 0.2em;
	z-index: 10;
}




/*
 * We don't want the `.bypass-block-target` to have an outline on *just* focus,
 * since this will look strange if regular users click inside this element,
 * since it will look like it was tabbed into
 */
.bypass-block-target:focus {
  outline: none;
}

/*
 * We do, however, want the `.bypass-block-target` to have an outline when
 * it has focus and it is the target of the document (i.e. the hash tag of the
 * document URL is the same as the "Skip Nav" link).
 *
 * Note that this style is the same as the focus state on all the tabbable
 * elements.  It doesn't have to be.  WCAG 2.4.7 — Focus Visible (Level AA)
 * only requires that the focus state is visible, so you can have, say, the
 * focus state of a button different than that of a form element.
 */
.bypass-block-target:focus:target,
[tabindex="0"]:focus,
[tabindex="1"]:focus,
a:focus,
button:focus,
input:focus {
  outline: solid 2px orange !important;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Chart styles */
.chart{
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: 600;
  line-height: normal;
  display: inline-block;
}


/* Table styles */
body .ui-table .ui-table-thead > tr > th {
  padding-right: .1em;
  padding-left: .1em;
}

body .ui-table .ui-table-thead > tr > th {
  text-align: center;
}
