/* You can add global styles to this file, and also import other style files */

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,500,600,700);
body {
  font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-weight: 300;
}


/* button */

.nopadding {
    padding: 0px !important;
    margin: 0px !important;
}

/* title */

.srt-page-title {
    font-size: 24px;
    font-weight: 600;
    line-height: 24px;
}

.srt-section-title {
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
}

.srt-blue {
    color: #112e51;
}

.srt-blue-border {
    border-color: #112e51;
}

.srt-title-padding {
    padding-bottom: 20px;
}

/* button */

.sticky-button-bottom {
    position: sticky;
    bottom: 20px;
}

button.srt-button {
    width: 150px;
    background-color: #337ab7;
}

.srt-button {
    background-color: #337ab7; 
    border-color: #2e6da4;
    border-radius: 5px;
    border: none;
    color: #fff; 
    cursor: pointer;
    display: table; 
    float: right; 
    font-weight: 500; 
    font-size: 16px;
    height: 35px; 
    text-align: center; 
    transition: all 100ms linear;
    width: 100px; 
}

.srt-button > div {
    display: table-cell;
    vertical-align: middle;
}

.srt-button:hover {
    box-shadow:0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px -1px rgba(0,0,0,0.3);
}

/* shadow */


.box-shadow {
    box-shadow:0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px -1px rgba(0,0,0,0.3);
}

.box-shadow-hover:hover {
    box-shadow:0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px -1px rgba(0,0,0,0.3);
}

/* banner */

.srt-banner.blue {
    margin: 0px;
    background-color: #205493;
    padding: 40px;
    color: white;
    height: 300px;
    box-shadow:0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px -1px rgba(0,0,0,0.3);
}

.srt-banner h1 {
    margin: 0px;
    padding-bottom: 20px;
}

.srt-banner p {
    font-size: 16px;
}


/* Override bootstrap tooptip style */

.tooltip-inner {
    max-width: 200px;
    padding: 3px 8px;
    color: black !important;
    text-align: left;
    background-color: white !important;
    border-radius: 4px;
    border: 1px solid #dadada;
}

#analyticTitle .tooltip.in,
#overview .tooltip.in,
.tooltip.in {
    opacity: 1 !important;;
}

#analyticTitle .tooltip-inner {
    max-width: 400px;
    padding: 3px 8px;
    color: black !important;
    text-align: left;
    background-color: white !important;
    border-radius: 4px;
    border: 1px solid #dadada;
}

#overview .tooltip-inner {
    max-width: 300px;
    padding: 3px 8px;
    color: black !important;
    text-align: left;
    background-color: white !important;
    border-radius: 4px;
    border: 1px solid #dadada;
}



.tooltip-arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}

.tooltip.right .tooltip-arrow {    
    border-right-color: white;
}

.tooltip.bottom .tooltip-arrow {    
    border-bottom-color: white;
}

.info {
    color: #333;
    font-size: 16px !important
}

/* autocomplete  ng2-completer package*/


.completer-input  {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.completer-dropdown-holder {
    width: 100%;
    position: relative;
}

.completer-dropdown {
    border-color: #ececec;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    width: 100% !important;
    padding: 3px 5px;
    cursor: pointer;
    z-index: 9999;
    position: absolute;
    margin-top: 0px !important;
    background-color: #ffffff;
    max-height: 200px !important;
    overflow: auto !important;
}

.completer-row {
    padding: 5px;
    color: #000000;
    margin-bottom: 4px;
    clear: both;
    display: inline-block;
    width: 100% !important;;
}

.completer-selected-row {
    background-color: #337ab7 !important;
    color: #ffffff !important;
}

.match {
    color: #BE3430 !important;
    font-weight: 500;
}