 <!-- <img src="https://s3.amazonaws.com/srt.bucket/assets/password.png" alt="">  -->
<main id="content" class="bypass-block-target" tabindex="-1">
    
<div class="srt-banner blue">
    <div class="container">
        <h1><span>Reset Password</span></h1>
        <div style="font-size: 20px; padding-bottom: 15px;">Password Reset Instructions and Next Steps:</div>

        <ul class="summary-steps">
            <li style="padding:5px">
                <div style="display: inline-block; vertical-align: top"><i class="fa fa-check"  aria-hidden="true" style="color: #f7f7f7" [ngStyle]="{'opacity' : step1 ? '1' : '0'}"></i>&nbsp;&nbsp;</div>
                <div style="display: inline-block; vertical-align: top; width: calc(100% - 80px)">Be at least 8 characters</div>
            </li>
            <li style="padding:5px">
                <div style="display: inline-block; vertical-align: top"><i aria-hidden="true" class="fa fa-check"  style="color: #f7f7f7" [ngStyle]="{'opacity' : step2 ? '1' : '0'}" ></i>&nbsp;&nbsp;</div>
                <div style="display: inline-block; vertical-align: top; width: calc(100% - 80px)">Have at least 1 upper case character (e.g., A, Z)</div>
            </li>
            <li style="padding:5px">
                <div style="display: inline-block; vertical-align: top"><i aria-hidden="true" class="fa fa-check"  style="color: #f7f7f7" [ngStyle]="{'opacity' : step3 ? '1' : '0'}" ></i>&nbsp;&nbsp;</div>
                <div style="display: inline-block; vertical-align: top; width: calc(100% - 80px)">Have at least 1 numerical character (e.g., 1, 2, 3 )</div>
                
            </li>
            <li style="padding:5px">
                <div style="display: inline-block; vertical-align: top"><i aria-hidden="true" class="fa fa-check"  style="color: #f7f7f7" [ngStyle]="{'opacity' : step4 ? '1' : '0'}"></i>&nbsp;&nbsp;</div>
                <div style="display: inline-block; vertical-align: top; width: calc(100% - 80px)">Have at least 1 symbols (e.g., #, $, %)</div>
                
            </li>
        </ul>


        
    </div>
</div>



<div class="container" style="padding:50px 0px 0px 0px;"> 
    

    <form [formGroup]="form" class="form-horizontal" (ngSubmit)="changePassword()"> 
    

        <div class="form-group padding">
          <label for="oldPassword" class="col-sm-2 text">Current password
               <span style="color: #BE3430; padding-left: 5px;"><sup>*</sup></span>
          </label>
            <div class="col-sm-10">
              <input formControlName="oldPassword" name="oldPassword" id="oldPassword" type="{{pwshow? 'text':'password'}}" class="form-control"  placeholder="current password" [(ngModel)] = "str1" >
              <div *ngIf="form.get('oldPassword').invalid && (form.get('oldPassword').dirty || form.get('oldPassword').touched)" class="validation text-danger">
                <div *ngIf="form.get('oldPassword').hasError('required')">
                  Password is required.
                </div>
              </div>
              
                  
            </div>
        </div>


        <div class="form-group padding">
          <label for="newPassword" class="col-sm-2 text">New password
              <span style="color: #BE3430; padding-left: 5px;"><sup>*</sup></span>
          </label>
            <div class="col-sm-10">
              <input formControlName="newPassword" id="newPassword" type="{{pwshow? 'text':'password'}}" class="form-control"  placeholder="new password" [(ngModel)] ="str2"  (ngModelChange) = "validationFunction()">
              
              <div *ngIf="form.get('newPassword').invalid && (form.get('newPassword').dirty || form.get('newPassword').touched)" class="validation text-danger">
                <div *ngIf="form.get('newPassword').hasError('required')">
                  Password is required.
                </div>
                <div *ngIf="form.get('newPassword').hasError('minlength')">
                  Password must be at least 8 characters long.
                </div>
                <div *ngIf="form.get('newPassword').hasError('pattern')">
                  Password must have at least one uppercase letter, one lowercase letter, one number and one special character
                </div>
              </div>
              
            </div>
        </div>


        <div class="form-group padding">
          <label for="confirmPassword" class="col-sm-2 text">Confirm password
              <span style="color: #BE3430; padding-left: 5px;"><sup>*</sup></span>
          </label>
              <div class="col-sm-10">
                <input formControlName="confirmPassword" name ="confirmPassword" id="confirmPassword" type="{{pwshow? 'text':'password'}}" class="form-control"  placeholder="confirm new pasword" [(ngModel)] = "str3" (ngModelChange) = "matchValidation()">
               
              <div *ngIf="form.get('confirmPassword').invalid && (form.get('confirmPassword').dirty || form.get('confirmPassword').touched)" class="validation text-danger">
                <div *ngIf="form.get('confirmPassword').hasError('required')">
                  Password is required.
                </div>
              </div>

            </div>
            
        </div>

    
    
     <div class="form-group padding">
       
          <a style="float:right; padding:0px 20px 0px 0px; cursor: pointer;" herf="#"  (click) = "showHidePsw()">Show the typing</a>
          
        
    </div>
        <div style="padding:0px 20px 0px 0px">
         <button type="submit" class="srt-button"  [ngStyle]="{'display': allValid == true ? 'block' : 'none'}" >Reset password</button>
        </div>
        
       
    </form>
</div> 
</main>