<div class="chartcontainer">

    <div class="srt-blue piechart">
        Machine Readable Documents (%) <br /> &nbsp;
        <!--<sup style="font-size: 20px;"
            [tooltip]="MachineReadable" tooltipPlacement="bottom">
            <i tabindex="0" class="fa fa-info-circle info" aria-hidden="true" ></i>
        </sup>
        <tooltip-content #MachineReadable [animation]="true">
            <div></div>
        </tooltip-content> -->
    </div>

    <div class="precposi">
      <div class="pieposition">
          <canvas baseChart
                  [data]="pieChartData"
                  [labels]="pieChartLabels"
                  [options]="options"
                  [colors]="colorsOverride"
                  [chartType]="pieChartType">
          </canvas>
      </div>
      <div class="pieresultun">
            {{displayUnreadable}}
      </div>
      <div class="pieresult">
            {{displayReadable}}
      </div>
    </div>
    <!--<div style="padding: 30px 10px; text-align: center; font-size: 16px; color: #1768d7; font-weight: 500">
        <span style="font-size: 1.5em; font-weight: 700">{{updatedCompliantICTNumber}}</span> out of
        <span style="font-size: 1.5em; font-weight: 700">{{TotalNonCompliant}}</span>
        non-compliant ICT solicitations have became compliant after they were updated on FedBizOpps.gov
    </div>-->

</div>

